
@{
    ViewBag.Title = "Tin tức";
}

<main>
    <div id="intro">
        <h1>Cho Thuê Phòng Trọ, Giá Rẻ, Tiện Nghi, Mới Nhất 2024</h1>
        <p>
            Cho thuê phòng trọ - Kênh thông tin số 1 về phòng trọ giá rẻ, phòng
            trọ sinh viên, phòng trọ cao cấp mới nhất năm 2024. Tất cả nhà trọ cho
            thuê giá tốt nhất tại Việt Nam.
        </p>
    </div>
    <div id="area">
        <div id="area-title">Khu vực nổi bật</div>
        <div id="area-list">
            <div class="area-content" id="area-1">
                <img src="~/Content/assets/img/Quan1.png" alt="Quận 1" />
                <div class="area-name">Quận 1</div>
            </div>
            <div class="area-content" id="area-2">
                <img src="~/Content/assets/img/Quan10.png" alt="Quận 10" />
                <div class="area-name">Quận 10</div>
            </div>
            <div class="area-content" id="area-3">
                <img src="~/Content/assets/img/Quan7.png" alt="Quận 7" />
                <div class="area-name">Quận 7</div>
            </div>
        </div>
    </div>
    <div class="search content">
        <div class="post-sort">
            <span>Sắp xếp: </span><a class="active" href="cho-thue-phong-trobfc7.html?orderby=mac-dinh&amp;page=1">
                Mặc định
            </a><a class="" href="cho-thue-phong-tro30d0.html?orderby=moi-nhat&amp;page=1">Mới nhất</a><a class="" href="cho-thue-phong-troaaad.html?orderby=video&amp;page=1">Có video</a>
        </div>
        <!-- Danh sách tin tức -->
        <ul class="post-listing clearfix">
            <!-- Item 1 -->
            <li class="post-item clearfix vipnoibat">
                <figure class="post-thumb">
                    <a class="clearfix" href="#">
                        <img class="lazy_done"
                             src="https://pt123.cdn.static123.com/images/thumbs/450x300/fit/2024/07/11/quy-dinh-an-toan-phong-chay-chua-chay-tai-nha-tro-cho-thue_1720691139.jpg"
                             data-src="https://pt123.cdn.static123.com/images/thumbs/450x300/fit/2024/07/11/quy-dinh-an-toan-phong-chay-chua-chay-tai-nha-tro-cho-thue_1720691139.jpg"
                             alt="Phòng trọ dạng căn hộ mini cao cấp tại 796 Lê Đức Thọ, P.15, Quận Gò Vấp" height="100" width="100"
                             data-loaded="true" />
                </figure>
                <div class="post-meta">
                    <h3 class="post-title">
                        <a style="color: #5498ff" href="#">
                            <span class="star star-5"></span>
                            Vấn nạn an toàn phòng cháy chữa cháy tại các nhà trọ cho thuê
                        </a>
                    </h3>
                    <div class="meta-row clearfix">
                        <time class="post-time" title="Thứ 6, 11:27 25/10/2024">2 giờ trước</time>
                    </div>
                    <div class="meta-row clearfix">
                        <p class="post-summary">
                            An toàn phòng cháy chữa cháy (PCCC) là vấn đề vô cùng quan trọng, đặc biệt là tại các khu vực nhà trọ tập 
                            trung đông người sinh sống. Do mật độ dân cư cao, cùng với ý thức và kiến thức về PCCC của một số người thuê trọ 
                            còn hạn chế, nguy cơ cháy nổ có thể xảy ra bất cứ lúc nào.
                        </p>
                    </div>
                </div>
            </li>
            <!-- Item 2 -->
            <li class="post-item clearfix vipnoibat">
                <figure class="post-thumb">
                    <a class="clearfix" href="#">
                        <img class="lazy_done"
                             src="https://pt123.cdn.static123.com/images/thumbs/900x600/fit/2024/07/11/tien-coc-thue-tro-co-lay-lai-duoc-khong_1720661417.jpg"
                             data-src="https://pt123.cdn.static123.com/images/thumbs/900x600/fit/2024/07/11/tien-coc-thue-tro-co-lay-lai-duoc-khong_1720661417.jpg"
                             alt="Phòng trọ dạng căn hộ mini cao cấp tại 796 Lê Đức Thọ, P.15, Quận Gò Vấp" height="100" width="100"
                             data-loaded="true" />
                </figure>
                <div class="post-meta">
                    <h3 class="post-title">
                        <a style="color: #5498ff" href="#">
                            <span class="star star-5"></span>
                            Tiền đặt cọc thuê phòng trọ có lấy lại được không?
                        </a>
                    </h3>
                    <div class="meta-row clearfix">
                        <time class="post-time" title="Thứ 6, 11:27 25/10/2024">2 giờ trước</time>
                    </div>
                    <div class="meta-row clearfix">
                        <p class="post-summary">
                            Tiền cọc thuê phòng trọ (hay còn gọi là tiền đặt cọc hay tiền thế chân) là một khoản tiền mà bạn phải đóng trước 
                            cho chủ nhà khi ký kết hợp đồng thuê nhà trọ. Mục đích của việc đặt tiền cọc trọ là để đảm bảo cho cả hai bên thực hiện 
                            đúng quyền lợi và nghĩa vụ.
                        </p>
                    </div>
                </div>
            </li>
            <!-- Item 3 -->
            <li class="post-item clearfix vipnoibat">
                <figure class="post-thumb">
                    <a class="clearfix" href="#">
                        <img class="lazy_done"
                             src="https://pt123.cdn.static123.com/images/thumbs/900x600/fit/2024/07/10/dong-tien-tro-dau-thang-hay-cuoi-thang_1720575516.jpg"
                             data-src="https://pt123.cdn.static123.com/images/thumbs/900x600/fit/2024/07/10/dong-tien-tro-dau-thang-hay-cuoi-thang_1720575516.jpg"
                             alt="Phòng trọ dạng căn hộ mini cao cấp tại 796 Lê Đức Thọ, P.15, Quận Gò Vấp" height="100" width="100"
                             data-loaded="true" />
                </figure>
                <div class="post-meta">
                    <h3 class="post-title">
                        <a style="color: #5498ff" href="#">
                            <span class="star star-5"></span>
                            Đóng tiền thuê phòng trọ đầu tháng hay cuối tháng?
                        </a>
                    </h3>
                    <div class="meta-row clearfix">
                        <time class="post-time" title="Thứ 6, 11:27 25/10/2024">2 giờ trước</time>
                    </div>
                    <div class="meta-row clearfix">
                        <p class="post-summary">
                            Tôi là Phạm Văn Nam 27 tuổi, hiện đang thuê phòng trọ TPHCM tại khu vực Gò Vấp. 
                            Tôi khá băn khoăn về thời điểm đóng tiền thuê phòng trọ ở khu vực này là đầu tháng hay cuối tháng?
                        </p>
                    </div>
                </div>
            </li>
            <!-- Item 4 -->
            <li class="post-item clearfix vipnoibat">
                <figure class="post-thumb">
                    <a class="clearfix" href="#">
                        <img class="lazy_done"
                             src="https://pt123.cdn.static123.com/images/thumbs/900x600/fit/2024/07/06/top-5-khu-vuc-hot-nhat-thue-phong-tro-tphcm_1720236454.jpg"
                             data-src="https://pt123.cdn.static123.com/images/thumbs/900x600/fit/2024/07/06/top-5-khu-vuc-hot-nhat-thue-phong-tro-tphcm_1720236454.jpg"
                             alt="Phòng trọ dạng căn hộ mini cao cấp tại 796 Lê Đức Thọ, P.15, Quận Gò Vấp" height="100" width="100"
                             data-loaded="true" />
                </figure>
                <div class="post-meta">
                    <h3 class="post-title">
                        <a style="color: #5498ff" href="#">
                            <span class="star star-5"></span>
                            Lộ diện top 5 khu vực "hot" nhất để thuê phòng trọ tại TPHCM
                        </a>
                    </h3>
                    <div class="meta-row clearfix">
                        <time class="post-time" title="Thứ 6, 11:27 25/10/2024">2 giờ trước</time>
                    </div>
                    <div class="meta-row clearfix">
                        <p class="post-summary">
                            Tìm kiếm một phòng trọ ưng ý tại TPHCM sôi động luôn là thử thách không dễ dàng, 
                            nhất là những người mới lên thành phố học tập và làm việc. Hơn nữa, nhu cầu thuê phòng trọ tại TPHCM luôn ở mức cao, 
                            nên việc xác định khu vực phù hợp để sinh sống là vô cùng quan trọng.
                        </p>
                    </div>
                </div>
            </li>
            <!-- Item 5 -->
            <li class="post-item clearfix vipnoibat">
                <figure class="post-thumb">
                    <a class="clearfix" href="#">
                        <img class="lazy_done"
                             src="https://pt123.cdn.static123.com/images/thumbs/900x600/fit/2024/01/19/quy-trinh-dang-ky-tam-tru-cho-nguoi-thue-phong-tro_1705647432.jpg"
                             data-src="https://pt123.cdn.static123.com/images/thumbs/900x600/fit/2024/01/19/quy-trinh-dang-ky-tam-tru-cho-nguoi-thue-phong-tro_1705647432.jpg"
                             alt="Phòng trọ dạng căn hộ mini cao cấp tại 796 Lê Đức Thọ, P.15, Quận Gò Vấp" height="100" width="100"
                             data-loaded="true" />
                </figure>
                <div class="post-meta">
                    <h3 class="post-title">
                        <a style="color: #5498ff" href="#">
                            <span class="star star-5"></span>
                            Quy trình đăng ký tạm trú cho người thuê phòng trọ mới nhất
                        </a>
                    </h3>
                    <div class="meta-row clearfix">
                        <time class="post-time" title="Thứ 6, 11:27 25/10/2024">2 giờ trước</time>
                    </div>
                    <div class="meta-row clearfix">
                        <p class="post-summary">
                            Hiện nay, việc đăng ký tạm trú cho người thuê phòng trọ là một thủ tục quan trọng và cần thiết. 
                            Theo quy định của Luật Cư trú 2020, công dân đến sinh sống tại chỗ ở hợp pháp ngoài phạm vi đơn vị hành chính cấp xã 
                            nơi đã đăng ký thường trú để lao động, học tập hoặc vì mục đích khác từ 30 ngày trở lên thì phải thực hiện 
                            đăng ký tạm trú. Trong bài viết này, chúng ta sẽ cùng tìm hiểu về thủ tục đăng ký tạm trú cho người thuê phòng trọ 
                            mới nhất 2024.
                        </p>
                    </div>
                </div>
            </li>
            <!-- Item 6 -->
            <li class="post-item clearfix vipnoibat">
                <figure class="post-thumb">
                    <a class="clearfix" href="#">
                        <img class="lazy_done"
                             src="https://pt123.cdn.static123.com/images/thumbs/900x600/fit/2024/01/02/thu-tuc-thue-phong-tro-chinh-xac-danh-cho-nguoi-nuoc-ngoai_1704181556.jpg"
                             data-src="https://pt123.cdn.static123.com/images/thumbs/900x600/fit/2024/01/02/thu-tuc-thue-phong-tro-chinh-xac-danh-cho-nguoi-nuoc-ngoai_1704181556.jpg"
                             alt="Phòng trọ dạng căn hộ mini cao cấp tại 796 Lê Đức Thọ, P.15, Quận Gò Vấp" height="100" width="100"
                             data-loaded="true" />
                </figure>
                <div class="post-meta">
                    <h3 class="post-title">
                        <a style="color: #5498ff" href="#">
                            <span class="star star-5"></span>
                            Thủ tục thuê phòng trọ chính xác dành cho người nước ngoài
                        </a>
                    </h3>
                    <div class="meta-row clearfix">
                        <time class="post-time" title="Thứ 6, 11:27 25/10/2024">2 giờ trước</time>
                    </div>
                    <div class="meta-row clearfix">
                        <p class="post-summary">
                            Với sự phát triển của kinh tế và giao lưu quốc tế, ngày càng có nhiều người nước ngoài đến Việt Nam sinh sống và làm việc. 
                            Việc thuê nhà ở là một trong những vấn đề hết sức quan trọng đối với những người nước ngoài này. Tuy nhiên, do khác biệt về 
                            ngôn ngữ, văn hóa và pháp luật, nên quy trình thuê phòng trọ dành cho người nước ngoài có thể gây ra nhiều khó khăn.
                        </p>
                    </div>
                </div>
            </li>
            <!-- Item 7 -->
            <li class="post-item clearfix vipnoibat">
                <figure class="post-thumb">
                    <a class="clearfix" href="#">
                        <img class="lazy_done"
                             src="https://pt123.cdn.static123.com/images/thumbs/900x600/fit/2023/12/29/cho-thue-phong-tro-can-dang-ky-giay-phep-kinh-doanh-hay-khong_1703823092.jpg"
                             data-src="https://pt123.cdn.static123.com/images/thumbs/900x600/fit/2023/12/29/cho-thue-phong-tro-can-dang-ky-giay-phep-kinh-doanh-hay-khong_1703823092.jpg"
                             alt="Phòng trọ dạng căn hộ mini cao cấp tại 796 Lê Đức Thọ, P.15, Quận Gò Vấp" height="100" width="100"
                             data-loaded="true" />
                </figure>
                <div class="post-meta">
                    <h3 class="post-title">
                        <a style="color: #5498ff" href="#">
                            <span class="star star-5"></span>
                            Cho thuê phòng trọ có cần đăng ký giấy phép kinh doanh hay không?
                        </a>
                    </h3>
                    <div class="meta-row clearfix">
                        <time class="post-time" title="Thứ 6, 11:27 25/10/2024">2 giờ trước</time>
                    </div>
                    <div class="meta-row clearfix">
                        <p class="post-summary">
                            Cho thuê phòng trọ là một hình thức kinh doanh phổ biến ở Việt Nam, đặc biệt là ở các thành phố lớn. 
                            Tuy nhiên, nhiều người vẫn thắc mắc rằng cho thuê phòng trọ có cần đăng ký giấy phép kinh doanh hay không?
                        </p>
                    </div>
                </div>
            </li>
            <!-- Item 8 -->
            <li class="post-item clearfix vipnoibat">
                <figure class="post-thumb">
                    <a class="clearfix" href="#">
                        <img class="lazy_done"
                             src="https://pt123.cdn.static123.com/images/thumbs/900x600/fit/2023/12/26/cho-thue-phong-tro-can-dong-nhung-loai-thue-nao_1703562413.jpg"
                             data-src="https://pt123.cdn.static123.com/images/thumbs/900x600/fit/2023/12/26/cho-thue-phong-tro-can-dong-nhung-loai-thue-nao_1703562413.jpg"
                             alt="Phòng trọ dạng căn hộ mini cao cấp tại 796 Lê Đức Thọ, P.15, Quận Gò Vấp" height="100" width="100"
                             data-loaded="true" />
                </figure>
                <div class="post-meta">
                    <h3 class="post-title">
                        <a style="color: #5498ff" href="#">
                            <span class="star star-5"></span>
                            Kinh doanh cho thuê phòng trọ cần đóng những loại thuế nào?
                        </a>
                    </h3>
                    <div class="meta-row clearfix">
                        <time class="post-time" title="Thứ 6, 11:27 25/10/2024">2 giờ trước</time>
                    </div>
                    <div class="meta-row clearfix">
                        <p class="post-summary">
                            Cho thuê phòng trọ là một hình thức kinh doanh phổ biến ở Việt Nam, đặc biệt là ở các thành phố lớn như Hà Nội và TPHCM. 
                            Hoạt động kinh doanh này mang lại nguồn thu nhập đáng kể cho các chủ nhà trọ. Tuy nhiên, không phải ai cũng biết rằng, 
                            khi kinh doanh cho thuê phòng trọ, chủ nhà trọ cần phải đóng một số loại thuế nhất định. Vậy, khi nào thì chủ trọ cần phải 
                            đóng thuê và cần đóng những loại thuế nào? Mức thuế suất của từng loại thuế là bao nhiêu?
                        </p>
                    </div>
                </div>
            </li>
            <!-- Item 9 -->
            <li class="post-item clearfix vipnoibat">
                <figure class="post-thumb">
                    <a class="clearfix" href="#">
                        <img class="lazy_done"
                             src="https://pt123.cdn.static123.com/images/thumbs/900x600/fit/2023/12/23/so-sanh-mo-hinh-phong-tro-va-ky-tuc-xa_1703303138.jpg"
                             data-src="https://pt123.cdn.static123.com/images/thumbs/900x600/fit/2023/12/23/so-sanh-mo-hinh-phong-tro-va-ky-tuc-xa_1703303138.jpg"
                             alt="Phòng trọ dạng căn hộ mini cao cấp tại 796 Lê Đức Thọ, P.15, Quận Gò Vấp" height="100" width="100"
                             data-loaded="true" />
                </figure>
                <div class="post-meta">
                    <h3 class="post-title">
                        <a style="color: #5498ff" href="#">
                            <span class="star star-5"></span>
                            Sinh viên TP. Hồ Chí Minh nên ở trọ hay ký túc xá? Cần lưu ý điều gì khi thuê trọ?
                        </a>
                    </h3>
                    <div class="meta-row clearfix">
                        <time class="post-time" title="Thứ 6, 11:27 25/10/2024">2 giờ trước</time>
                    </div>
                    <div class="meta-row clearfix">
                        <p class="post-summary">
                            TP. Hồ Chí Minh là một trong những thành phố lớn nhất và phát triển nhất cả nước. Hàng năm, TP. Hồ Chí Minh đón nhận 
                            hàng nghìn sinh viên từ khắp mọi miền đất nước đến học tập và sinh sống. Và một trong những vấn đề mà các bạn sinh viên 
                            phải cân nhắc khi lên thành phố là lựa chọn nơi ở. Vậy, sinh viên TP. Hồ Chí Minh nên ở trọ hay ký túc xá? 
                            Đây là câu hỏi được nhiều bạn trẻ quan tâm khi chuẩn bị lên thành phố học tập.
                        </p>
                    </div>
                </div>
            </li>
            <!-- Item 10 -->
            <li class="post-item clearfix vipnoibat">
                <figure class="post-thumb">
                    <a class="clearfix" href="#">
                        <img class="lazy_done"
                             src="https://pt123.cdn.static123.com/images/thumbs/900x600/fit/2023/12/09/khai-niem-can-ho-dich-vu_1702112927.jpg"
                             data-src="https://pt123.cdn.static123.com/images/thumbs/900x600/fit/2023/12/09/khai-niem-can-ho-dich-vu_1702112927.jpg"
                             alt="Phòng trọ dạng căn hộ mini cao cấp tại 796 Lê Đức Thọ, P.15, Quận Gò Vấp" height="100" width="100"
                             data-loaded="true" />
                </figure>
                <div class="post-meta">
                    <h3 class="post-title">
                        <a style="color: #5498ff" href="#">
                            <span class="star star-5"></span>
                            Căn hộ dịch vụ là gì? Bí quyết thuê căn hộ dịch vụ hiệu quả?
                        </a>
                    </h3>
                    <div class="meta-row clearfix">
                        <time class="post-time" title="Thứ 6, 11:27 25/10/2024">2 giờ trước</time>
                    </div>
                    <div class="meta-row clearfix">
                        <p class="post-summary">
                            Nhu cầu thuê phòng trọ, nhà trọ hiện đại, linh hoạt với đầy đủ tiện nghi ngày càng được ưa chuộng, điển hình là 
                            cho thuê phòng trọ loại hình căn hộ dịch vụ. Nhưng liệu bạn đã hiểu rõ về khái niệm căn hộ dịch vụ là gì và làm thế nào 
                            để thuê chúng hiệu quả?
                        </p>
                    </div>
                </div>
            </li>
        </ul>
        <div class="search-filters"></div>
    </div>
</main>

