
@{
    ViewBag.Title = "Details";
}

<main>
    <div class="container clearfix ">
        <div id="left-col">
            <article class="the-post tin-vip vipnoibat">
                <div class="post-images">
                    <div class="images-swiper-container swiper-container-horizontal">
                        <div class="swiper-wrapper"
                             style="
                    transform: translate3d(-728px, 0px, 0px);
                    transition-duration: 0ms;
                  ">
                            <div class="swiper-slide swiper-slide-duplicate swiper-slide-prev"
                                 data-swiper-slide-index="8"
                                 style="width: 728px">
                                <img alt="img-1"
                                     src="/assets/img/author-img.jpg" />
                            </div>
                            <div class="swiper-slide swiper-slide-active"
                                 data-swiper-slide-index="0"
                                 style="width: 728px">
                                <img alt="img-2"
                                     src="/assets/img/author-img_2.jpg" />
                            </div>
                        </div>
                        <!-- <div
                          class="swiper-button-prev"
                          tabindex="0"
                          role="button"
                          aria-label="Previous slide"
                        ></div>
                        <div
                          class="swiper-button-next"
                          tabindex="0"
                          role="button"
                          aria-label="Next slide"
                        ></div> -->
                        <span class="swiper-notification"
                              aria-live="assertive"
                              aria-atomic="true"></span>
                    </div>
                </div>
                <div class="page-header">
                    <h1 class="page-h1">
                        <a style="color: #5498ff"
                           href="cho-thue-phong-tro-chinh-chu-ban-cong-thang-may-gia-re.html"
                           title="Cho thuê phòng trọ có ban công, máy lạnh, thang máy giá 2.5 - 2.7 - 3.2tr tại&nbsp;P15, Q Tân Bình. Liên hệ: 0918180057">
                            Cho thuê phòng trọ có ban công, máy lạnh, thang máy giá 2.5 -
                            2.7 - 3.2tr tại&nbsp;P15, Q Tân Bình. Liên hệ: 0918180057
                        </a>
                    </h1>
                    <div class="clearfix"></div>
                    <address class="post-address">
                        Địa chỉ: 346 Đường Phạm Văn Bạch, Phường 15, Quận Tân Bình, Hồ
                        Chí Minh
                    </address>
                    <div class="post-attributes">
                        <div class="item price">
                            <span style="color: #16c784; font-weight: bold; font-size: 1.5rem">2.5 triệu/tháng</span>
                        </div>
                        <div class="item acreage">
                            <i></i><span> 20m<sup>2</sup></span>
                        </div>
                        <div class="item published">
                            <i></i><span title="Thứ 5, 09:15 24/10/2024">1 ngày trước</span>
                        </div>
                        <div class="item hashtag"><i></i><span>64946</span></div>
                    </div>
                </div>
                <section class="section post-main-content">
                    <div class="section-header">
                        <h2 class="section-title">Thông tin mô tả</h2>
                    </div>
                    <div class="section-content">
                        <p>
                            - Phòng trọ đẹp. Nằm trên trục đường chính số 346 PHẠM VĂN
                            BẠCH, Phía sau Sân Bay Tân Sơn Nhất, gần eTown Công hòa ,
                            thuận tiện đi tất cả các Quận ... Gần Chợ Phạm Văn Bạch...
                        </p>
                        <p>
                            - Phòng có CỬA SỔ, BAN CÔNG, CÓ GIƯỜNG NGỦ, TỦ QUẦN ÁO, MÁY
                            LẠNH, đặc biệt có Sân Thượng thoáng mát ngồi thư giản, ngắm
                            máy bay.
                        </p>
                        <p>- Tầng hầm giúp Bạn bỏ xe , Thang máy để di chuyển.</p>
                        <p>- Bảo vệ, Camera giúp Bạn cảm thấy an toàn.</p>
                        <p>
                            - Toilet trong phòng nước nóng lạnh giúp Bạn thuận tiện ...
                            Thoải mái.
                        </p>
                        <p>
                            - Wifi cáp quang mạnh mỗi phòng 1 Router giúp Bạn lướt Web
                            nhanh.
                        </p>
                        <p>- Cáp tivi giúp Bạn xem HBO, Cenemax ... Tại nhà.</p>
                        <p>
                            - Bảo vệ trong coi 24/24 giúp Bạn có cảm giác an toàn, được
                            bảo vệ.
                        </p>
                        <p>- Giá Rẻ: &nbsp;2.5 - 2.7 - 3.2tr/tháng, có ban công</p>
                        <p>- Diện tích: 20m2.&nbsp;</p>
                        <p>(MỜI BẠN ĐẾN XEM PHÒNG, CÓ BẢO VỆ DẪN BẠN XEM PHÒNG)</p>
                        <p>
                            - Địa chỉ: 346 Phạm Văn Bạch, P.15, Q. Tân Bình, Tp. Hồ Chí
                            Minh.
                        </p>
                        <p>Liên hệ: 0931 89 76 79 – 0918 18 00 57 A Hiếu.</p>
                    </div>
                </section>
                <section class="section post-overview">
                    <div class="section-header">
                        <h3 class="section-title">Đặc điểm tin đăng</h3>
                    </div>
                    <div class="section-content">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td class="name">Mã tin:</td>
                                    <td>#64946</td>
                                </tr>
                                <tr>
                                    <td class="name">Chuyên mục:</td>
                                    <td>
                                        <a style="text-decoration: underline"
                                           title="Phòng trọ Quận Tân Bình"
                                           href="quan-tan-binh.html"><strong>Cho thuê phòng trọ Quận Tân Bình</strong></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="name">Khu vực</td>
                                    <td>Cho thuê phòng trọ Hồ Chí Minh</td>
                                </tr>
                                <tr>
                                    <td class="name">Loại tin rao:</td>
                                    <td>Phòng trọ, nhà trọ</td>
                                </tr>
                                <tr>
                                    <td class="name">Đối tượng thuê:</td>
                                    <td>Tất cả</td>
                                </tr>
                                <tr>
                                    <td class="name">Gói tin:</td>
                                    <td>
                                        <span style="color: #e13427">Tin VIP nổi bật</span>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="name">Ngày đăng:</td>
                                    <td>
                                        <time title="Thứ 5, 09:15 24/10/2024">Thứ 5, 09:15 24/10/2024</time>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="name">Ngày hết hạn:</td>
                                    <td>
                                        <time title="Thứ 7, 11:04 30/11/2024">Thứ 7, 11:04 30/11/2024</time>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
                <section class="section post-contact">
                    <div class="section-header">
                        <h3 class="section-title">Thông tin liên hệ</h3>
                    </div>
                    <div class="section-content">
                        <table class="table">
                            <tbody>
                                <tr>
                                    <td class="name">Liên hệ:</td>
                                    <td>hieuthanh2006 (*)</td>
                                </tr>
                                <tr>
                                    <td class="name">Điện thoại:</td>
                                    <td>0918180057</td>
                                </tr>
                                <tr>
                                    <td class="name">Zalo</td>
                                    <td>0918180057</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
                <div class="post-fix-bar">
                    <div class="inner clearfix">
                        <div class="left-bar">
                            <span class="post-fix-bar-price">
                                2.5 triệu/tháng
                                <span style="color: #333; font-weight: normal">- 20m<sup>2</sup></span>
                            </span><span class="post-fix-bar-address">
                                346 Đường Phạm Văn Bạch, Phường 15, Quận Tân Bình, Hồ Chí
                                Minh
                            </span>
                        </div>
                        <div class="right-bar">
                            <span class="post-fix-bar-save js-btn-save"
                                  data-post-id="64946"><i></i> Yêu thích</span><a class="post-fix-bar-zalo"
                                                                                  rel="nofollow"
                                                                                  target="_blank"
                                                                                  href="https://zalo.me/0918180057">Nhắn Zalo</a><a class="post-fix-bar-phone"
                                                                                                                                    rel="nofollow"
                                                                                                                                    target="_blank"
                                                                                                                                    href="tel:0918180057"><i></i> Gọi ngay 0918180057</a>
                        </div>
                    </div>
                </div>
            </article>
        </div>
        <aside id="aside">
            <div class="author-aside">
                <figure class="author-avatar">
                    <img src="/assets/img/default-user.png"
                         alt="" />
                </figure>
                <span class="author-name">hieuthanh2006</span>
                <a class="btn author-phone" rel="nofollow" href="#">0918180088</a><a class="btn author-zalo"
                                                                                     target="_blank"
                                                                                     rel="nofollow"
                                                                                     href="#">Nhắn Zalo</a><span class="btn post-save js-btn-save" data-post-id="64946">Yêu thích</span>
            </div>
        </aside>
    </div>
</main>

