
@{
    ViewBag.Title = "Besnik";
}

<main>
    <div id="intro">
        <h1>Cho Thuê Phòng Trọ, Giá Rẻ, Tiện Nghi, Mới Nhất 2024</h1>
        <p>
            Cho thuê phòng trọ - Kênh thông tin số 1 về phòng trọ giá rẻ, phòng
            trọ sinh viên, phòng trọ cao cấp mới nhất năm 2024. Tất cả nhà trọ cho
            thuê giá tốt nhất tại Việt Nam.
        </p>
    </div>
    <div id="area">
        <div id="area-title">Khu vực nổi bật</div>
        <div id="area-list">
            <div class="area-content" id="area-1">
                <img src="~/Content/assets/img/Quan1.png" alt="Quận 1" />
                <div class="area-name">Quận 1</div>
            </div>
            <div class="area-content" id="area-2">
                <img src="~/Content/assets/img/Quan10.png" alt="Quận 10" />
                <div class="area-name">Quận 10</div>
            </div>
            <div class="area-content" id="area-3">
                <img src="~/Content/assets/img/Quan7.png" alt="Quận 7" />
                <div class="area-name">Quận 7</div>
            </div>
        </div>
    </div>
    <div class="search content">
        <div class="post-sort">
            <span>Sắp xếp: </span><a class="active" href="cho-thue-phong-trobfc7.html?orderby=mac-dinh&amp;page=1">
                Mặc
                định
            </a><a class="" href="cho-thue-phong-tro30d0.html?orderby=moi-nhat&amp;page=1">Mới nhất</a><a class=""
                                                                                                          href="cho-thue-phong-troaaad.html?orderby=video&amp;page=1">Có video</a>
        </div>
        <!-- Danh sách phòng trọ -->
        <ul class="post-listing clearfix">
            <!-- Item 1 -->
            <li class="post-item clearfix vipnoibat">
                <figure class="post-thumb">
                    <a class="clearfix" href="#">
                        <img class="lazy_done"
                             src="https://pt123.cdn.static123.com/images/thumbs/450x300/fit/2019/02/25/63b548ae81a263fc3ab3_1551067966.jpg"
                             data-src="https://pt123.cdn.static123.com/images/thumbs/450x300/fit/2019/02/25/63b548ae81a263fc3ab3_1551067966.jpg"
                             alt="Phòng trọ dạng căn hộ mini cao cấp tại 796 Lê Đức Thọ, P.15, Quận Gò Vấp" height="100" width="100"
                             data-loaded="true" />
                    </a><span class="images-number">8 ảnh</span><span class="post-save js-btn-save"
                                                                      data-post-id="277630"><i></i></span>
                </figure>
                <div class="post-meta">
                    <h3 class="post-title">
                        <a style="color: #5498ff" href="#">
                            <span class="star star-5"></span> Phòng trọ dạng căn hộ mini
                            cao cấp tại 796 Lê Đức Thọ, P.15, Quận Gò Vấp
                        </a>
                    </h3>
                    <div class="meta-row clearfix">
                        <span class="post-price">3 triệu/tháng</span><span class="post-acreage">30m²</span><span class="post-location">
                            <a href="#" title="Cho thuê phòng trọ Quận Gò Vấp, Hồ Chí Minh">
                                Quận Gò Vấp, Hồ
                                Chí Minh
                            </a>
                        </span><time class="post-time" title="Thứ 6, 11:27 25/10/2024">2 giờ trước</time>
                    </div>
                    <div class="meta-row clearfix">
                        <p class="post-summary">
                            Cho thuê căn hộ mini cao cấp tại&nbsp;796 Lê Đức Thọ, Phường
                            15, Quận Gò Vấp, Tp. Hồ Chí Minh. Diện tích 30m2, giá 3
                            triệu/tháng. Có hầm giữ xe, có thang máy,…
                        </p>
                    </div>
                    <div class="meta-row clearfix">
                        <div class="post-author">
                            <img src="~Content/~/Content/assets/img/default-user.png" alt="Default" /><span class="author-name">Chị Giang</span>
                        </div>
                        <a rel="nofollow" target="_blank" href="#" class="btn-quick-zalo">Nhắn Zalo</a><a rel="nofollow"
                                                                                                          target="_blank" href="tel:0928837249" class="btn-quick-call">Gọi 0328837249</a>
                    </div>
                </div>
            </li>
            <!-- Item 2 -->
            <li class="post-item clearfix vipnoibat">
                <figure class="post-thumb">
                    <a class="clearfix" href="#">
                        <img class="lazy_done"
                             src="https://pt123.cdn.static123.com/images/thumbs/450x300/fit/2021/10/27/17f127e466893fd370b536e3d9cd0b15-2742471474502885792_1635303858.jpg"
                             data-src="https://pt123.cdn.static123.com/images/thumbs/450x300/fit/2021/10/27/17f127e466893fd370b536e3d9cd0b15-2742471474502885792_1635303858.jpg"
                             alt="Phòng trọ dạng căn hộ mini cao cấp tại 796 Lê Đức Thọ, P.15, Quận Gò Vấp" height="100" width="100"
                             data-loaded="true" />
                    </a><span class="images-number">8 ảnh</span><span class="post-save js-btn-save"
                                                                      data-post-id="277630"><i></i></span>
                </figure>
                <div class="post-meta">
                    <h3 class="post-title">
                        <a style="color: #5498ff" href="#">
                            <span class="star star-5"></span>
                            CHO THUÊ PHÒNG TRỌ MỚI CHÍNH CHỦ, GIẢM GIÁ, QUẬN TÂN PHÚ - GẦN BÊN TRƯỜNG ĐẠI HỌC CÔNG NGHỆ THỰC PHẨM
                        </a>
                    </h3>
                    <div class="meta-row clearfix">
                        <span class="post-price">2.9 triệu/tháng</span><span class="post-acreage">20m²</span><span class="post-location">
                            <a href="#" title="Cho thuê phòng trọ Quận Gò Vấp, Hồ Chí Minh">
                                24 Đường Sơn Kỳ, Phường Sơn Kỳ, Quận Tân Phú, Hồ Chí Minh
                            </a>
                        </span><time class="post-time" title="Thứ 6, 11:27 25/10/2024">2 giờ trước</time>
                    </div>
                    <div class="meta-row clearfix">
                        <p class="post-summary">
                            PHÒNG TRỌ 24 SƠN KỲ TÂN PHÚ, GẦN ĐH CÔNG NGHỆ THỰC PHẨM- Cách trường Đại Học Công nghệ Thực Phẩm 700m, cách AeOnMall Tân Phú 500m, Gần eTown
                        </p>
                    </div>
                    <div class="meta-row clearfix">
                        <div class="post-author">
                            <img src="~Content/~/Content/assets/img/default-user.png" alt="Default" /><span class="author-name">Anh Hiếu</span>
                        </div>
                        <a rel="nofollow" target="_blank" href="#" class="btn-quick-zalo">Nhắn Zalo</a><a rel="nofollow"
                                                                                                          target="_blank" href="tel:0928837249" class="btn-quick-call">Gọi 0918180327</a>
                    </div>
                </div>
            </li>
            <!-- Item 3 -->
            <li class="post-item clearfix vipnoibat">
                <figure class="post-thumb">
                    <a class="clearfix" href="#">
                        <img class="lazy_done"
                             src="https://pt123.cdn.static123.com/images/thumbs/450x300/fit/2024/10/23/z5954254373217-d13986300b3845d8a4ced44b6d481629_1729661762.jpg"
                             data-src="https://pt123.cdn.static123.com/images/thumbs/450x300/fit/2024/10/23/z5954254373217-d13986300b3845d8a4ced44b6d481629_1729661762.jpg"
                             alt="Phòng trọ dạng căn hộ mini cao cấp tại 796 Lê Đức Thọ, P.15, Quận Gò Vấp" height="100" width="100"
                             data-loaded="true" />
                    </a><span class="images-number">8 ảnh</span><span class="post-save js-btn-save"
                                                                      data-post-id="277630"><i></i></span>
                </figure>
                <div class="post-meta">
                    <h3 class="post-title">
                        <a style="color: #5498ff" href="#">
                            <span class="star star-5"></span>
                            4.5tr PHÒNG TRỌ MỚI XÂY FULL NỘI THẤT CHÍNH CHỦ QUẬN TÂN BÌNH
                        </a>
                    </h3>
                    <div class="meta-row clearfix">
                        <span class="post-price">4.5 triệu/tháng</span><span class="post-acreage">30m²</span><span class="post-location">
                            <a href="#" title="Cho thuê phòng trọ Quận Gò Vấp, Hồ Chí Minh">
                                Q
                                Đường Lạc Long Quân, Phường 9, Quận Tân Bình, Hồ Chí Minh
                            </a>
                        </span><time class="post-time" title="Thứ 6, 11:27 25/10/2024">21 giờ trước</time>
                    </div>
                    <div class="meta-row clearfix">
                        <p class="post-summary">
                            Mình chính chủ cho thuê phòng tại nhà nguyên căn 2 mặt tiền đường xe tải, khu vực an ninh gần chợ, phòng gym, siêu thị, Vinmart, công viên...
                        </p>
                    </div>
                    <div class="meta-row clearfix">
                        <div class="post-author">
                            <img src="~Content/~/Content/assets/img/default-user.png" alt="Default" /><span class="author-name">Anh Công</span>
                        </div>
                        <a rel="nofollow" target="_blank" href="#" class="btn-quick-zalo">Nhắn Zalo</a><a rel="nofollow"
                                                                                                          target="_blank" href="tel:0928837249" class="btn-quick-call">Gọi 0938802805</a>
                    </div>
                </div>
            </li>
            <!-- Item 4 -->
            <li class="post-item clearfix vipnoibat">
                <figure class="post-thumb">
                    <a class="clearfix" href="#">
                        <img class="lazy_done"
                             src="https://pt123.cdn.static123.com/images/thumbs/450x300/fit/2023/01/27/z4064025740041-0c32a1d0197c20b63c64a57df8c64959_1674785592.jpg"
                             data-src="https://pt123.cdn.static123.com/images/thumbs/450x300/fit/2023/01/27/z4064025740041-0c32a1d0197c20b63c64a57df8c64959_1674785592.jpg"
                             alt="Phòng trọ dạng căn hộ mini cao cấp tại 796 Lê Đức Thọ, P.15, Quận Gò Vấp" height="100" width="100"
                             data-loaded="true" />
                    </a><span class="images-number">8 ảnh</span><span class="post-save js-btn-save"
                                                                      data-post-id="277630"><i></i></span>
                </figure>
                <div class="post-meta">
                    <h3 class="post-title">
                        <a style="color: #5498ff" href="#">
                            <span class="star star-5"></span>
                            Phòng trọ ngay Thành Thái, trung tâm Quận 10, đẹp, trang bị đầy đủ nội thất
                        </a>
                    </h3>
                    <div class="meta-row clearfix">
                        <span class="post-price">4.5 triệu/tháng</span><span class="post-acreage">30m²</span><span class="post-location">
                            <a href="#" title="Cho thuê phòng trọ Quận Gò Vấp, Hồ Chí Minh">
                                43/3 Đường Thành Thái, Phường 14, Quận 10, Hồ Chí Minh
                            </a>
                        </span><time class="post-time" title="Thứ 6, 11:27 25/10/2024">2 giờ trước</time>
                    </div>
                    <div class="meta-row clearfix">
                        <p class="post-summary">
                            Cho thuê phòng trọ ngay trung tâm Quận 10, gần ngay Vạn Hạnh Mall, trường đại học Bách Khoa, Huflit (5 phút đi bộ là tới), trường Đại học Y Dược
                        </p>
                    </div>
                    <div class="meta-row clearfix">
                        <div class="post-author">
                            <img src="~Content/~/Content/assets/img/default-user.png" alt="Default" /><span class="author-name">Anh Việt</span>
                        </div>
                        <a rel="nofollow" target="_blank" href="#" class="btn-quick-zalo">Nhắn Zalo</a><a rel="nofollow"
                                                                                                          target="_blank" href="tel:0928837249" class="btn-quick-call">Gọi 0938297275</a>
                    </div>
                </div>
            </li>
            <!-- Item 5 -->
            <li class="post-item clearfix vipnoibat">
                <figure class="post-thumb">
                    <a class="clearfix" href="#">
                        <img class="lazy_done"
                             src="https://pt123.cdn.static123.com/images/thumbs/450x300/fit/2019/11/01/895314de-282d-46d0-b2de-d28e658884bc-1555413067_1572575975.jpg"
                             data-src="https://pt123.cdn.static123.com/images/thumbs/450x300/fit/2019/11/01/895314de-282d-46d0-b2de-d28e658884bc-1555413067_1572575975.jpg"
                             alt="Phòng trọ dạng căn hộ mini cao cấp tại 796 Lê Đức Thọ, P.15, Quận Gò Vấp" height="100" width="100"
                             data-loaded="true" />
                    </a><span class="images-number">8 ảnh</span><span class="post-save js-btn-save"
                                                                      data-post-id="277630"><i></i></span>
                </figure>
                <div class="post-meta">
                    <h3 class="post-title">
                        <a style="color: #5498ff" href="#">
                            <span class="star star-5"></span>
                            PHÒNG TRỌ CAO CẤP QUẬN 2 - GIỜ GIẤC TỰ DO
                        </a>
                    </h3>
                    <div class="meta-row clearfix">
                        <span class="post-price">3.3 triệu/tháng</span><span class="post-acreage">23m²</span><span class="post-location">
                            <a href="#" title="Cho thuê phòng trọ Quận Gò Vấp, Hồ Chí Minh">
                                3 Đường Thân Văn Nhiếp, Phường An Phú, Quận 2, Hồ Chí Minh
                            </a>
                        </span><time class="post-time" title="Thứ 6, 11:27 25/10/2024">2 giờ trước</time>
                    </div>
                    <div class="meta-row clearfix">
                        <p class="post-summary">
                            Địa chỉ: Số 3 Đường 53 Khu dân cư Văn Minh ( gần chung cư 8 block Novaland) Mặt tiền đường 16 mét!Cách Mặt tiền Đường Mai Chí Thọ 10m
                        </p>
                    </div>
                    <div class="meta-row clearfix">
                        <div class="post-author">
                            <img src="~Content/~/Content/assets/img/default-user.png" alt="Default" /><span class="author-name">Anh Thọ</span>
                        </div>
                        <a rel="nofollow" target="_blank" href="#" class="btn-quick-zalo">Nhắn Zalo</a><a rel="nofollow"
                                                                                                          target="_blank" href="tel:0928837249" class="btn-quick-call">Gọi 0796252353</a>
                    </div>
                </div>
            </li>
            <!-- Item 6 -->
            <li class="post-item clearfix vipnoibat">
                <figure class="post-thumb">
                    <a class="clearfix" href="#">
                        <img class="lazy_done"
                             src="https://pt123.cdn.static123.com/images/thumbs/450x300/fit/2024/10/25/z3240837429223-552b42799b5a3184de32e7a49a35f092_1729825768.jpg"
                             data-src="https://pt123.cdn.static123.com/images/thumbs/450x300/fit/2024/10/25/z3240837429223-552b42799b5a3184de32e7a49a35f092_1729825768.jpg"
                             alt="Phòng trọ dạng căn hộ mini cao cấp tại 796 Lê Đức Thọ, P.15, Quận Gò Vấp" height="100" width="100"
                             data-loaded="true" />
                    </a><span class="images-number">8 ảnh</span><span class="post-save js-btn-save"
                                                                      data-post-id="277630"><i></i></span>
                </figure>
                <div class="post-meta">
                    <h3 class="post-title">
                        <a style="color: #5498ff" href="#">
                            <span class="star star-5"></span>
                            Cho thuê phòng trọ SANG SẠCH SÁNG MÁT THƠM, AN TOÀN
                        </a>
                    </h3>
                    <div class="meta-row clearfix">
                        <span class="post-price">3 triệu/tháng</span><span class="post-acreage">9m²</span><span class="post-location">
                            <a href="#" title="Cho thuê phòng trọ Quận Gò Vấp, Hồ Chí Minh">
                                331 Đường Lê Hồng Phong, Phường 2, Quận 10, Hồ Chí Minh
                            </a>
                        </span><time class="post-time" title="Thứ 6, 11:27 25/10/2024">2 giờ trước</time>
                    </div>
                    <div class="meta-row clearfix">
                        <p class="post-summary">
                            Nhà sạch sẽ, thoáng mát, an toàn và văn minh. Nằm ngay khu vực trung tâm, gần ngã tư Lê Hồng Phong và Hùng Vương. Nhà để xe an toàn, thoáng mát, sạch sẽ
                        </p>
                    </div>
                    <div class="meta-row clearfix">
                        <div class="post-author">
                            <img src="~Content/~/Content/assets/img/default-user.png" alt="Default" /><span class="author-name">Chị Hoa</span>
                        </div>
                        <a rel="nofollow" target="_blank" href="#" class="btn-quick-zalo">Nhắn Zalo</a><a rel="nofollow"
                                                                                                          target="_blank" href="tel:0928837249" class="btn-quick-call">Gọi 0983422460</a>
                    </div>
                </div>
            </li>
            <!-- Item 7 -->
            <li class="post-item clearfix vipnoibat">
                <figure class="post-thumb">
                    <a class="clearfix" href="#">
                        <img class="lazy_done"
                             src="https://pt123.cdn.static123.com/images/thumbs/450x300/fit/2021/03/10/z2372642429419-09c9c7a541863ae55ad41b3e267136f4_1615391265.jpg"
                             data-src="https://pt123.cdn.static123.com/images/thumbs/450x300/fit/2021/03/10/z2372642429419-09c9c7a541863ae55ad41b3e267136f4_1615391265.jpg"
                             alt="Phòng trọ dạng căn hộ mini cao cấp tại 796 Lê Đức Thọ, P.15, Quận Gò Vấp" height="100" width="100"
                             data-loaded="true" />
                    </a><span class="images-number">8 ảnh</span><span class="post-save js-btn-save"
                                                                      data-post-id="277630"><i></i></span>
                </figure>
                <div class="post-meta">
                    <h3 class="post-title">
                        <a style="color: #5498ff" href="#">
                            <span class="star star-5"></span>
                            Cho thuê phòng trọ có ban công, máy lạnh, thang máy giá 2.5 - 2.7 - 3.2tr tại P15, Q Tân Bình. Liên hệ: 0918180057
                        </a>
                    </h3>
                    <div class="meta-row clearfix">
                        <span class="post-price">2.5 triệu/tháng</span><span class="post-acreage">20m²</span><span class="post-location">
                            <a href="#" title="Cho thuê phòng trọ Quận Gò Vấp, Hồ Chí Minh">
                                346 Đường Phạm Văn Bạch, Phường 15, Quận Tân Bình, Hồ Chí Minh
                            </a>
                        </span><time class="post-time" title="Thứ 6, 11:27 25/10/2024">2 giờ trước</time>
                    </div>
                    <div class="meta-row clearfix">
                        <p class="post-summary">
                            Phòng trọ đẹp. Nằm trên trục đường chính số 346 PHẠM VĂN BẠCH, Phía sau Sân Bay Tân Sơn Nhất, gần eTown Công hòa , thuận tiện đi tất cả các Quận
                        </p>
                    </div>
                    <div class="meta-row clearfix">
                        <div class="post-author">
                            <img src="~Content/~/Content/assets/img/default-user.png" alt="Default" /><span class="author-name">Anh Thanh</span>
                        </div>
                        <a rel="nofollow" target="_blank" href="#" class="btn-quick-zalo">Nhắn Zalo</a><a rel="nofollow"
                                                                                                          target="_blank" href="tel:0928837249" class="btn-quick-call">Gọi 0932445664</a>
                    </div>
                </div>
            </li>
            <!-- Item 8 -->
            <li class="post-item clearfix vipnoibat">
                <figure class="post-thumb">
                    <a class="clearfix" href="#">
                        <img class="lazy_done"
                             src="https://pt123.cdn.static123.com/images/thumbs/450x300/fit/2020/12/08/z2216753992450-eb92e4fa0fc7f15a039bf4a9ea4a0856_1607398734.jpg"
                             data-src="https://pt123.cdn.static123.com/images/thumbs/450x300/fit/2020/12/08/z2216753992450-eb92e4fa0fc7f15a039bf4a9ea4a0856_1607398734.jpg"
                             alt="Phòng trọ dạng căn hộ mini cao cấp tại 796 Lê Đức Thọ, P.15, Quận Gò Vấp" height="100" width="100"
                             data-loaded="true" />
                    </a><span class="images-number">8 ảnh</span><span class="post-save js-btn-save"
                                                                      data-post-id="277630"><i></i></span>
                </figure>
                <div class="post-meta">
                    <h3 class="post-title">
                        <a style="color: #5498ff" href="#">
                            <span class="star star-5"></span>
                            Cho thuê phòng mới diện tích 35m2, giá 6tr/tháng full nội thất
                        </a>
                    </h3>
                    <div class="meta-row clearfix">
                        <span class="post-price">6 triệu/tháng</span><span class="post-acreage">35m²</span><span class="post-location">
                            <a href="#" title="Cho thuê phòng trọ Quận Gò Vấp, Hồ Chí Minh">
                                Đường số 61, Phường Thạnh Mỹ Lợi, Quận 2, Hồ Chí Minh
                            </a>
                        </span><time class="post-time" title="Thứ 6, 11:27 25/10/2024">2 giờ trước</time>
                    </div>
                    <div class="meta-row clearfix">
                        <p class="post-summary">
                            Mình cần cho thuê phòng mới diện tích 32m2, giá 6tr/tháng có sẵn nội thất cơ bảnĐịa chỉ: 17 Đường số 61, Phường Thạnh Mỹ Lợi, Quận 2
                        </p>
                    </div>
                    <div class="meta-row clearfix">
                        <div class="post-author">
                            <img src="~Content/~/Content/assets/img/default-user.png" alt="Default" /><span class="author-name">Chi Nhung</span>
                        </div>
                        <a rel="nofollow" target="_blank" href="#" class="btn-quick-zalo">Nhắn Zalo</a><a rel="nofollow"
                                                                                                          target="_blank" href="tel:0928837249" class="btn-quick-call">Gọi 0972468365</a>
                    </div>
                </div>
            </li>
            <!-- Item 9 -->
            <li class="post-item clearfix vipnoibat">
                <figure class="post-thumb">
                    <a class="clearfix" href="#">
                        <img class="lazy_done"
                             src="https://pt123.cdn.static123.com/images/thumbs/450x300/fit/2024/08/09/image3_1723218012.jpg"
                             data-src="https://pt123.cdn.static123.com/images/thumbs/450x300/fit/2024/08/09/image3_1723218012.jpg"
                             alt="Phòng trọ dạng căn hộ mini cao cấp tại 796 Lê Đức Thọ, P.15, Quận Gò Vấp" height="100" width="100"
                             data-loaded="true" />
                    </a><span class="images-number">8 ảnh</span><span class="post-save js-btn-save"
                                                                      data-post-id="277630"><i></i></span>
                </figure>
                <div class="post-meta">
                    <h3 class="post-title">
                        <a style="color: #5498ff" href="#">
                            <span class="star star-5"></span>
                            Cho thuê phòng trọ An Khang giá rẻ 2tr5 phường Linh Đông
                        </a>
                    </h3>
                    <div class="meta-row clearfix">
                        <span class="post-price">2.5 triệu/tháng</span><span class="post-acreage">26m²</span><span class="post-location">
                            <a href="#" title="Cho thuê phòng trọ Quận Gò Vấp, Hồ Chí Minh">
                                25A Phố số 24, Phường Linh Đông, Thủ Đức, Hồ Chí Minh
                            </a>
                        </span><time class="post-time" title="Thứ 6, 11:27 25/10/2024">2 giờ trước</time>
                    </div>
                    <div class="meta-row clearfix">
                        <p class="post-summary">
                            Các bạn tới xem trực tiếp càng tốt (không cần hẹn trước), có người ở sẵn trong khu phòng trọ mở cửa cho xem,
                            nếu ưng thì lấy luôn. Các phòng xung quanh khu vực đã 3tr rồi, bên mình giá ưu đãi và không giới hạn số lượng người ở.
                            Vị trí rất thuận tiện, từ phòng trọ mình chạy xe máy ra đường Phạm Văn Đồng lớn rất rất gần. Đi xe cỡ 3 - 6 phút là tới. Gần chợ ngã năm, chợ Tam Hà, chợ Thủ Đức, trường trung học Linh Đông.
                        </p>
                    </div>
                    <div class="meta-row clearfix">
                        <div class="post-author">
                            <img src="~Content/~/Content/assets/img/default-user.png" alt="Default" /><span class="author-name">Chị Thu</span>
                        </div>
                        <a rel="nofollow" target="_blank" href="#" class="btn-quick-zalo">Nhắn Zalo</a><a rel="nofollow"
                                                                                                          target="_blank" href="tel:0928837249" class="btn-quick-call">Gọi 0974658325</a>
                    </div>
                </div>
            </li>
            <!-- Item 10 -->
            <li class="post-item clearfix vipnoibat">
                <figure class="post-thumb">
                    <a class="clearfix" href="#">
                        <img class="lazy_done"
                             src="https://pt123.cdn.static123.com/images/thumbs/450x300/fit/2024/08/18/img-4764_1723953808.jpg"
                             data-src="https://pt123.cdn.static123.com/images/thumbs/450x300/fit/2024/08/18/img-4764_1723953808.jpg"
                             alt="Phòng trọ dạng căn hộ mini cao cấp tại 796 Lê Đức Thọ, P.15, Quận Gò Vấp" height="100" width="100"
                             data-loaded="true" />
                    </a><span class="images-number">8 ảnh</span><span class="post-save js-btn-save"
                                                                      data-post-id="277630"><i></i></span>
                </figure>
                <div class="post-meta">
                    <h3 class="post-title">
                        <a style="color: #5498ff" href="#">
                            <span class="star star-5"></span>
                            KTX Sinh Viên HUTECH,sinh viên Đại Học Giao Thông Vận Tải.
                        </a>
                    </h3>
                    <div class="meta-row clearfix">
                        <span class="post-price">1.8 triệu/tháng</span><span class="post-acreage">30m²</span><span class="post-location">
                            <a href="#" title="Cho thuê phòng trọ Quận Gò Vấp, Hồ Chí Minh">
                                25A Phố số 24, Phường Linh Đông, Thủ Đức, Hồ Chí Minh
                            </a>
                        </span><time class="post-time" title="Thứ 6, 11:27 25/10/2024">2 giờ trước</time>
                    </div>
                    <div class="meta-row clearfix">
                        <p class="post-summary">
                            VỊ TRÍ:+ Cách đại học Hutech 200m.+ Cách đại học Ngoại Thương 300m.+ Cách Đại học Giao Thông Vận Tải 350m.+ Cách đại học Hồng Bàng, Đại Học UEF
                        </p>
                    </div>
                    <div class="meta-row clearfix">
                        <div class="post-author">
                            <img src="~Content/~/Content/assets/img/default-user.png" alt="Default" /><span class="author-name">Chị Hà</span>
                        </div>
                        <a rel="nofollow" target="_blank" href="#" class="btn-quick-zalo">Nhắn Zalo</a><a rel="nofollow"
                                                                                                          target="_blank" href="tel:0928837249" class="btn-quick-call">Gọi 0974659365</a>
                    </div>
                </div>
            </li>
        </ul>
        <div class="search-filters"></div>
    </div>
</main>

