
@{
    ViewBag.Title = "Thuê Nhà";
}

<main>
    <div id="intro">
        <h1>Cho Thuê Phòng Trọ, Giá Rẻ, Tiện Nghi, Mới Nhất 2024</h1>
        <p>
            Cho thuê phòng trọ - Kênh thông tin số 1 về phòng trọ giá rẻ, phòng
            trọ sinh viên, phòng trọ cao cấp mới nhất năm 2024. Tất cả nhà trọ cho
            thuê giá tốt nhất tại Việt Nam.
        </p>
    </div>
    <div id="area">
        <div id="area-title">Khu vực nổi bật</div>
        <div id="area-list">
            <div class="area-content" id="area-1">
                <img src="~/Content/assets/img/Quan1.png" alt="Quận 1" />
                <div class="area-name">Quận 1</div>
            </div>
            <div class="area-content" id="area-2">
                <img src="~/Content/assets/img/Quan10.png" alt="Quận 10" />
                <div class="area-name">Quận 10</div>
            </div>
            <div class="area-content" id="area-3">
                <img src="~/Content/assets/img/Quan7.png" alt="Quận 7" />
                <div class="area-name">Quận 7</div>
            </div>
        </div>
    </div>
    <div class="search content">
        <div class="post-sort">
            <span>Sắp xếp: </span><a class="active" href="cho-thue-phong-trobfc7.html?orderby=mac-dinh&amp;page=1">
                Mặc
                định
            </a><a class="" href="cho-thue-phong-tro30d0.html?orderby=moi-nhat&amp;page=1">Mới nhất</a><a class=""
                                                                                                          href="cho-thue-phong-troaaad.html?orderby=video&amp;page=1">Có video</a>
        </div>
        <!-- Danh sách nhà cho thuê -->
        <ul class="post-listing clearfix">
            <!-- Item 1 -->
            <li class="post-item clearfix vipnoibat">
                <figure class="post-thumb">
                    <a class="clearfix" href="#">
                        <img class="lazy_done"
                             src="https://pt123.cdn.static123.com/images/thumbs/450x300/fit/2024/10/26/1723084036-xmk_1729917198.jpg"
                             data-src="https://pt123.cdn.static123.com/images/thumbs/450x300/fit/2024/10/26/1723084036-xmk_1729917198.jpg"
                             alt="Phòng trọ dạng căn hộ mini cao cấp tại 796 Lê Đức Thọ, P.15, Quận Gò Vấp" height="100" width="100"
                             data-loaded="true" />
                    </a><span class="images-number">8 ảnh</span><span class="post-save js-btn-save" data-post-id="277630"><i></i></span>
                </figure>
                <div class="post-meta">
                    <h3 class="post-title">
                        <a style="color: #5498ff" href="#">
                            <span class="star star-5"></span>
                            CHO THUÊ NHÀ GẤP GIÁ RẺ MẶT TIỀN PHỐ 12M PHƯỚC HIỆP
                        </a>
                    </h3>
                    <div class="meta-row clearfix">
                        <span class="post-price">4 triệu/tháng</span><span class="post-acreage">297m²</span><span class="post-location">
                            <a href="#" title="Cho thuê phòng trọ Quận Gò Vấp, Hồ Chí Minh">
                                218 Mỹ Khánh, Xã Phước Hiệp, Huyện Củ Chi, Hồ Chí Minh
                            </a>
                        </span><time class="post-time" title="Thứ 6, 11:27 25/10/2024">2 giờ trước</time>
                    </div>
                    <div class="meta-row clearfix">
                        <p class="post-summary">
                            CHO THUÊ NHÀ GẤP GIÁ RẺ MẶT TIỀN PHỐ 12M PHƯỚC HIỆP- Nhà số 218 đường Cây Trôm Mỹ Khánh, 
                            Phước Hiệp, Củ Chi, Tp. HCM- Thiết kế 1 trệt, 1 lầu
                        </p>
                    </div>
                    <div class="meta-row clearfix">
                        <div class="post-author">
                            <img src="~Content/~/Content/assets/img/default-user.png" alt="Default" /><span class="author-name">Chị Giang</span>
                        </div>
                        <a rel="nofollow" target="_blank" href="#" class="btn-quick-zalo">Nhắn Zalo</a><a rel="nofollow" target="_blank" href="tel:0928837249" class="btn-quick-call">Gọi 0328837249</a>
                    </div>
                </div>
            </li>
            <!-- Item 2 -->
            <li class="post-item clearfix vipnoibat">
                <figure class="post-thumb">
                    <a class="clearfix" href="#">
                        <img class="lazy_done"
                             src="https://pt123.cdn.static123.com/images/thumbs/450x300/fit/2024/10/04/img-2360_1728055863.jpg"
                             data-src="https://pt123.cdn.static123.com/images/thumbs/450x300/fit/2024/10/04/img-2360_1728055863.jpg"
                             alt="Phòng trọ dạng căn hộ mini cao cấp tại 796 Lê Đức Thọ, P.15, Quận Gò Vấp" height="100" width="100"
                             data-loaded="true" />
                    </a><span class="images-number">8 ảnh</span><span class="post-save js-btn-save" data-post-id="277630"><i></i></span>
                </figure>
                <div class="post-meta">
                    <h3 class="post-title">
                        <a style="color: #5498ff" href="#">
                            <span class="star star-5"></span>
                            Cho thuê nhà 2 tầng 45m2 siêu xinh - Full nội thất - đường Trần Khánh Dư
                        </a>
                    </h3>
                    <div class="meta-row clearfix">
                        <span class="post-price">8 triệu/tháng</span><span class="post-acreage">45m²</span><span class="post-location">
                            <a href="#" title="Cho thuê phòng trọ Quận Gò Vấp, Hồ Chí Minh">
                                Trần Khánh Dư, Phường Mỹ An, Quận 8, Hồ Chí Minh
                            </a>
                        </span><time class="post-time" title="Thứ 6, 11:27 25/10/2024">2 giờ trước</time>
                    </div>
                    <div class="meta-row clearfix">
                        <p class="post-summary">
                            Cho thuê nhà gần khu du lịch An Thượng. Nhà đầy đủ tiện nghi, đi bộ 10p ra biển, gần chợ, siêu thị, trường học cấp 1,2,3, đại học. Khu an ninh tốt
                        </p>
                    </div>
                    <div class="meta-row clearfix">
                        <div class="post-author">
                            <img src="~Content/~/Content/assets/img/default-user.png" alt="Default" /><span class="author-name">Anh Hiếu</span>
                        </div>
                        <a rel="nofollow" target="_blank" href="#" class="btn-quick-zalo">Nhắn Zalo</a><a rel="nofollow" target="_blank" href="tel:0928837249" class="btn-quick-call">Gọi 0918180327</a>
                    </div>
                </div>
            </li>
            <!-- Item 3 -->
            <li class="post-item clearfix vipnoibat">
                <figure class="post-thumb">
                    <a class="clearfix" href="#">
                        <img class="lazy_done"
                             src="https://pt123.cdn.static123.com/images/thumbs/450x300/fit/2024/10/15/1000000535_1729001746.jpg"
                             data-src="https://pt123.cdn.static123.com/images/thumbs/450x300/fit/2024/10/15/1000000535_1729001746.jpg"
                             alt="Phòng trọ dạng căn hộ mini cao cấp tại 796 Lê Đức Thọ, P.15, Quận Gò Vấp" height="100" width="100"
                             data-loaded="true" />
                    </a><span class="images-number">8 ảnh</span><span class="post-save js-btn-save" data-post-id="277630"><i></i></span>
                </figure>
                <div class="post-meta">
                    <h3 class="post-title">
                        <a style="color: #5498ff" href="#">
                            <span class="star star-5"></span>
                            Cho thuê nhà mặt tiền 114m2 Huỳnh Tấn Phát
                        </a>
                    </h3>
                    <div class="meta-row clearfix">
                        <span class="post-price">13 triệu/tháng</span><span class="post-acreage">114m²</span><span class="post-location">
                            <a href="#" title="Cho thuê phòng trọ Quận Gò Vấp, Hồ Chí Minh">
                                Huỳnh Tấn Phát, Xã Phú Xuân, Huyện Nhà Bè, Hồ Chí Minh
                            </a>
                        </span><time class="post-time" title="Thứ 6, 11:27 25/10/2024">21 giờ trước</time>
                    </div>
                    <div class="meta-row clearfix">
                        <p class="post-summary">
                            CHO THUÊ NHÀ NGUYÊN CĂN MẶT TIỀN đường Huỳnh Tấn Phát, ,Nhà Bè (gần Phà Bình Khánh, chùa Bà Châu Đốc 2)Diện tích 114m2Ngang 6m x dài 19m.
                        </p>
                    </div>
                    <div class="meta-row clearfix">
                        <div class="post-author">
                            <img src="~Content/~/Content/assets/img/default-user.png" alt="Default" /><span class="author-name">Anh Công</span>
                        </div>
                        <a rel="nofollow" target="_blank" href="#" class="btn-quick-zalo">Nhắn Zalo</a><a rel="nofollow" target="_blank" href="tel:0928837249" class="btn-quick-call">Gọi 0938802805</a>
                    </div>
                </div>
            </li>
            <!-- Item 4 -->
            <li class="post-item clearfix vipnoibat">
                <figure class="post-thumb">
                    <a class="clearfix" href="#">
                        <img class="lazy_done"
                             src="https://pt123.cdn.static123.com/images/thumbs/900x600/fit/2022/03/04/2022-03-04-17-31-37-931_1646391162.jpg"
                             data-src="https://pt123.cdn.static123.com/images/thumbs/900x600/fit/2022/03/04/2022-03-04-17-31-37-931_1646391162.jpg"
                             alt="Phòng trọ dạng căn hộ mini cao cấp tại 796 Lê Đức Thọ, P.15, Quận Gò Vấp" height="100" width="100"
                             data-loaded="true" />
                    </a><span class="images-number">8 ảnh</span><span class="post-save js-btn-save" data-post-id="277630"><i></i></span>
                </figure>
                <div class="post-meta">
                    <h3 class="post-title">
                        <a style="color: #5498ff" href="#">
                            <span class="star star-5"></span>
                            Sang 9 Phòng Trọ+MB Cafe Ngay Đại Học Huflit - Bệnh Viện nhân dân 115 - Sư Vạn Hạnh!
                        </a>
                    </h3>
                    <div class="meta-row clearfix">
                        <span class="post-price">9 triệu/tháng</span><span class="post-acreage">200m²</span><span class="post-location">
                            <a href="#" title="Cho thuê phòng trọ Quận Gò Vấp, Hồ Chí Minh">
                                Đường Sư Vạn Hạnh, Phường 13, Quận 10, Hồ Chí Minh
                            </a>
                        </span><time class="post-time" title="Thứ 6, 11:27 25/10/2024">2 giờ trước</time>
                    </div>
                    <div class="meta-row clearfix">
                        <p class="post-summary">
                            SƯ VẠN HẠNH - QUẬN 10 - Sang 9 PHÒNG TRỌ + MB CAFE doanh thu ổn định! Địa chỉ: 824 Sư Vạn Hạnh, P13, Quận 10. Vị trí: Ngay Bệnh viện 115-Đại Học Tin Học
                        </p>
                    </div>
                    <div class="meta-row clearfix">
                        <div class="post-author">
                            <img src="~Content/~/Content/assets/img/default-user.png" alt="Default" /><span class="author-name">Anh Việt</span>
                        </div>
                        <a rel="nofollow" target="_blank" href="#" class="btn-quick-zalo">Nhắn Zalo</a><a rel="nofollow" target="_blank" href="tel:0928837249" class="btn-quick-call">Gọi 0938297275</a>
                    </div>
                </div>
            </li>
            <!-- Item 5 -->
            <li class="post-item clearfix vipnoibat">
                <figure class="post-thumb">
                    <a class="clearfix" href="#">
                        <img class="lazy_done"
                             src="https://pt123.cdn.static123.com/images/thumbs/450x300/fit/2022/02/27/img20220225171116_1645969195.jpg"
                             data-src="https://pt123.cdn.static123.com/images/thumbs/450x300/fit/2022/02/27/img20220225171116_1645969195.jpg"
                             alt="Phòng trọ dạng căn hộ mini cao cấp tại 796 Lê Đức Thọ, P.15, Quận Gò Vấp" height="100" width="100"
                             data-loaded="true" />
                    </a><span class="images-number">8 ảnh</span><span class="post-save js-btn-save" data-post-id="277630"><i></i></span>
                </figure>
                <div class="post-meta">
                    <h3 class="post-title">
                        <a style="color: #5498ff" href="#">
                            <span class="star star-5"></span>
                            Cho thuê nhà nguyên căn, cạnh phần mềm Quang Trung. Giá thuê 4,5 Triệu/Tháng
                        </a>
                    </h3>
                    <div class="meta-row clearfix">
                        <span class="post-price">4.5 triệu/tháng</span><span class="post-acreage">45m²</span><span class="post-location">
                            <a href="#" title="Cho thuê phòng trọ Quận Gò Vấp, Hồ Chí Minh">
                                Đường Dương Thị Mười, Phường Tân Chánh Hiệp, Quận 12, Hồ Chí Minh
                            </a>
                        </span><time class="post-time" title="Thứ 6, 11:27 25/10/2024">2 giờ trước</time>
                    </div>
                    <div class="meta-row clearfix">
                        <p class="post-summary">
                            Cho thuê nhà nguyên căn cấp 4 mới, có gác lửng, sạch sẽ, điện, nước chính chủ, ưu tiên sinh viên, gia đình hoặc nhân viên văn phòng. Nhà ngay cạnh công viên phần mềm Quang Trung
                        </p>
                    </div>
                    <div class="meta-row clearfix">
                        <div class="post-author">
                            <img src="~Content/~/Content/assets/img/default-user.png" alt="Default" /><span class="author-name">Anh Thọ</span>
                        </div>
                        <a rel="nofollow" target="_blank" href="#" class="btn-quick-zalo">Nhắn Zalo</a><a rel="nofollow" target="_blank" href="tel:0928837249" class="btn-quick-call">Gọi 0796252353</a>
                    </div>
                </div>
            </li>
            <!-- Item 6 -->
            <li class="post-item clearfix vipnoibat">
                <figure class="post-thumb">
                    <a class="clearfix" href="#">
                        <img class="lazy_done"
                             src="https://pt123.cdn.static123.com/images/thumbs/900x600/fit/2021/01/12/hinh-1tx_1610461788.jpg"
                             data-src="https://pt123.cdn.static123.com/images/thumbs/900x600/fit/2021/01/12/hinh-1tx_1610461788.jpg"
                             alt="Phòng trọ dạng căn hộ mini cao cấp tại 796 Lê Đức Thọ, P.15, Quận Gò Vấp" height="100" width="100"
                             data-loaded="true" />
                    </a><span class="images-number">8 ảnh</span><span class="post-save js-btn-save" data-post-id="277630"><i></i></span>
                </figure>
                <div class="post-meta">
                    <h3 class="post-title">
                        <a style="color: #5498ff" href="#">
                            <span class="star star-5"></span>
                            Cho thuê nhà NC,1 trệt 2 lầu, có bancon. DTSD 36 m đường TX13, P.Thạnh Xuân, Q.12
                        </a>
                    </h3>
                    <div class="meta-row clearfix">
                        <span class="post-price">2.8 triệu/tháng</span><span class="post-acreage">36m²</span><span class="post-location">
                            <a href="#" title="Cho thuê phòng trọ Quận Gò Vấp, Hồ Chí Minh">
                                84/11 D6 Đường số 13, Phường Thạnh Xuân, Quận 12, Hồ Chí Minh
                            </a>
                        </span><time class="post-time" title="Thứ 6, 11:27 25/10/2024">2 giờ trước</time>
                    </div>
                    <div class="meta-row clearfix">
                        <p class="post-summary">
                            Cho thuê nhà NC có 1 trệt, 1 lửng, 1 lầu, bancon. DT đất 3 x 4,4 =13,2m, DTSD 36m, luôn thoáng mát. Nhà gần chợ TX21 và chợ Minh Phát, gần bến xe buýt, Phường Thạnh Xuân, Q.12. QL1A chân cầu Bến Cát 2 quẹo đường TX13 100m
                        </p>
                    </div>
                    <div class="meta-row clearfix">
                        <div class="post-author">
                            <img src="~Content/~/Content/assets/img/default-user.png" alt="Default" /><span class="author-name">Chị Hoa</span>
                        </div>
                        <a rel="nofollow" target="_blank" href="#" class="btn-quick-zalo">Nhắn Zalo</a><a rel="nofollow" target="_blank" href="tel:0928837249" class="btn-quick-call">Gọi 0983422460</a>
                    </div>
                </div>
            </li>
            <!-- Item 7 -->
            <li class="post-item clearfix vipnoibat">
                <figure class="post-thumb">
                    <a class="clearfix" href="#">
                        <img class="lazy_done"
                             src="https://pt123.cdn.static123.com/images/thumbs/900x600/fit/2024/10/15/z5933635857490-386e4c1b8d80f44eaea692746bb33540_1729001490.jpg"
                             data-src="https://pt123.cdn.static123.com/images/thumbs/900x600/fit/2024/10/15/z5933635857490-386e4c1b8d80f44eaea692746bb33540_1729001490.jpg"
                             alt="Phòng trọ dạng căn hộ mini cao cấp tại 796 Lê Đức Thọ, P.15, Quận Gò Vấp" height="100" width="100"
                             data-loaded="true" />
                    </a><span class="images-number">8 ảnh</span><span class="post-save js-btn-save" data-post-id="277630"><i></i></span>
                </figure>
                <div class="post-meta">
                    <h3 class="post-title">
                        <a style="color: #5498ff" href="#">
                            <span class="star star-5"></span>
                            Cho thuê nguyên lầu / 2PN hoặc làm văn phòng 90m2 Có sẵn 1pn full nội thất
                        </a>
                    </h3>
                    <div class="meta-row clearfix">
                        <span class="post-price">6.2 triệu/tháng</span><span class="post-acreage">90m²</span><span class="post-location">
                            <a href="#" title="Cho thuê phòng trọ Quận Gò Vấp, Hồ Chí Minh">
                                Đường Bùi Đình Túy, Phường 24, Quận Bình Thạnh, Hồ Chí Minh
                            </a>
                        </span><time class="post-time" title="Thứ 6, 11:27 25/10/2024">2 giờ trước</time>
                    </div>
                    <div class="meta-row clearfix">
                        <p class="post-summary">
                            Cho thuê nguyên lầu / 2pn hoặc làm văn phòng 90m2 Có sẵn 1pn full nội thất Nhà mới, Phòng mới hỗ trợ 100% - Nhà xe rộng để được 10-20 chiếc
                        </p>
                    </div>
                    <div class="meta-row clearfix">
                        <div class="post-author">
                            <img src="~Content/~/Content/assets/img/default-user.png" alt="Default" /><span class="author-name">Anh Thanh</span>
                        </div>
                        <a rel="nofollow" target="_blank" href="#" class="btn-quick-zalo">Nhắn Zalo</a><a rel="nofollow" target="_blank" href="tel:0928837249" class="btn-quick-call">Gọi 0932445664</a>
                    </div>
                </div>
            </li>
            <!-- Item 8 -->
            <li class="post-item clearfix vipnoibat">
                <figure class="post-thumb">
                    <a class="clearfix" href="#">
                        <img class="lazy_done"
                             src="https://pt123.cdn.static123.com/images/thumbs/900x600/fit/2024/10/27/img-0705_1729993148.jpg"
                             data-src="https://pt123.cdn.static123.com/images/thumbs/900x600/fit/2024/10/27/img-0705_1729993148.jpg"
                             alt="Phòng trọ dạng căn hộ mini cao cấp tại 796 Lê Đức Thọ, P.15, Quận Gò Vấp" height="100" width="100"
                             data-loaded="true" />
                    </a><span class="images-number">8 ảnh</span><span class="post-save js-btn-save" data-post-id="277630"><i></i></span>
                </figure>
                <div class="post-meta">
                    <h3 class="post-title">
                        <a style="color: #5498ff" href="#">
                            <span class="star star-5"></span>
                            Nhà 1 trệt 3 lầu khu Tên Lửa Vành Đai Trong
                        </a>
                    </h3>
                    <div class="meta-row clearfix">
                        <span class="post-price">26 triệu/tháng</span><span class="post-acreage">80m²</span><span class="post-location">
                            <a href="#" title="Cho thuê phòng trọ Quận Gò Vấp, Hồ Chí Minh">
                                Phường Bình Trị Đông B, Quận Bình Tân, Hồ Chí Minh
                            </a>
                        </span><time class="post-time" title="Thứ 6, 11:27 25/10/2024">2 giờ trước</time>
                    </div>
                    <div class="meta-row clearfix">
                        <p class="post-summary">
                            CHO THUÊ NHÀ NGUYÊN CĂN KHU TÊN LỬA, Vành Đai Trong. Gần khu Aeon Bình Tân. Dãy nhà phố sang trọng. Cạnh nhiều quán cà phê, quán ăn, nhà thờ, circle K
                        </p>
                    </div>
                    <div class="meta-row clearfix">
                        <div class="post-author">
                            <img src="~Content/~/Content/assets/img/default-user.png" alt="Default" /><span class="author-name">Chi Nhung</span>
                        </div>
                        <a rel="nofollow" target="_blank" href="#" class="btn-quick-zalo">Nhắn Zalo</a><a rel="nofollow" target="_blank" href="tel:0928837249" class="btn-quick-call">Gọi 0972468365</a>
                    </div>
                </div>
            </li>
            <!-- Item 9 -->
            <li class="post-item clearfix vipnoibat">
                <figure class="post-thumb">
                    <a class="clearfix" href="#">
                        <img class="lazy_done"
                             src="https://pt123.cdn.static123.com/images/thumbs/900x600/fit/2024/10/26/img-1729919433769-1729919561591_1729921592.jpg"
                             data-src="https://pt123.cdn.static123.com/images/thumbs/900x600/fit/2024/10/26/img-1729919433769-1729919561591_1729921592.jpg"
                             alt="Phòng trọ dạng căn hộ mini cao cấp tại 796 Lê Đức Thọ, P.15, Quận Gò Vấp" height="100" width="100"
                             data-loaded="true" />
                    </a><span class="images-number">8 ảnh</span><span class="post-save js-btn-save" data-post-id="277630"><i></i></span>
                </figure>
                <div class="post-meta">
                    <h3 class="post-title">
                        <a style="color: #5498ff" href="#">
                            <span class="star star-5"></span>
                            CHO THUÊ NHÀ NGUYÊN CĂN SIÊU VIP
                        </a>
                    </h3>
                    <div class="meta-row clearfix">
                        <span class="post-price">6 triệu/tháng</span><span class="post-acreage">12m²</span><span class="post-location">
                            <a href="#" title="Cho thuê phòng trọ Quận Gò Vấp, Hồ Chí Minh">
                                Đường Quang Trung, Phường 10, Quận Gò Vấp, Hồ Chí Minh
                            </a>
                        </span><time class="post-time" title="Thứ 6, 11:27 25/10/2024">2 giờ trước</time>
                    </div>
                    <div class="meta-row clearfix">
                        <p class="post-summary">
                            Nhà cho thuê 107/...quang trung,p10, Gò Vấp....gần ngã 5, hướng về chợ gò vấp và phú nhuận, hẻm trước nhà 3,5m, khu phố văn hóa an ninh yên tĩnh
                        </p>
                    </div>
                    <div class="meta-row clearfix">
                        <div class="post-author">
                            <img src="~Content/~/Content/assets/img/default-user.png" alt="Default" /><span class="author-name">Chị Thu</span>
                        </div>
                        <a rel="nofollow" target="_blank" href="#" class="btn-quick-zalo">Nhắn Zalo</a><a rel="nofollow" target="_blank" href="tel:0928837249" class="btn-quick-call">Gọi 0974658325</a>
                    </div>
                </div>
            </li>
            <!-- Item 10 -->
            <li class="post-item clearfix vipnoibat">
                <figure class="post-thumb">
                    <a class="clearfix" href="#">
                        <img class="lazy_done"
                             src="https://pt123.cdn.static123.com/images/thumbs/450x300/fit/2024/10/26/20241004-114306_1729908126.jpg"
                             data-src="https://pt123.cdn.static123.com/images/thumbs/450x300/fit/2024/10/26/20241004-114306_1729908126.jpg"
                             alt="Phòng trọ dạng căn hộ mini cao cấp tại 796 Lê Đức Thọ, P.15, Quận Gò Vấp" height="100" width="100"
                             data-loaded="true" />
                    </a><span class="images-number">8 ảnh</span><span class="post-save js-btn-save" data-post-id="277630"><i></i></span>
                </figure>
                <div class="post-meta">
                    <h3 class="post-title">
                        <a style="color: #5498ff" href="#">
                            <span class="star star-5"></span>
                            Nhà 4x18m, DTSD 110m2 có gác lửng 40m2. Gần chùa linh sơn. Hẻm thông nở hậu, khu an ninh.
                        </a>
                    </h3>
                    <div class="meta-row clearfix">
                        <span class="post-price">6.5 triệu/tháng</span><span class="post-acreage">70m²</span><span class="post-location">
                            <a href="#" title="Cho thuê phòng trọ Quận Gò Vấp, Hồ Chí Minh">
                                44/14 Đường Đông Hưng Thuận 6, Phường Tân Hưng Thuận, Quận 12, Hồ Chí Minh
                            </a>
                        </span><time class="post-time" title="Thứ 6, 11:27 25/10/2024">2 giờ trước</time>
                    </div>
                    <div class="meta-row clearfix">
                        <p class="post-summary">
                            Nhà 4x18m, DTSD 110m2 có gác lửng 40m2.Gần chùa linh sơn.Hẻm thông nở hậu, khu an ninh, không bị ngập.Trần cao 5m thoáng mát, có sân, có giếng trời
                        </p>
                    </div>
                    <div class="meta-row clearfix">
                        <div class="post-author">
                            <img src="~Content/~/Content/assets/img/default-user.png" alt="Default" /><span class="author-name">Chị Hà</span>
                        </div>
                        <a rel="nofollow" target="_blank" href="#" class="btn-quick-zalo">Nhắn Zalo</a><a rel="nofollow" target="_blank" href="tel:0928837249" class="btn-quick-call">Gọi 0974659365</a>
                    </div>
                </div>
            </li>
        </ul>
        <div class="search-filters"></div>
    </div>
</main>

