
@{
    ViewBag.Title = "Thuê Mặt Bằng";
}

<main>
    <div id="intro">
        <h1>Cho Thuê Phòng Trọ, Giá Rẻ, Tiện Nghi, Mới Nhất 2024</h1>
        <p>
            Cho thuê phòng trọ - Kênh thông tin số 1 về phòng trọ giá rẻ, phòng
            trọ sinh viên, phòng trọ cao cấp mới nhất năm 2024. Tất cả nhà trọ cho
            thuê giá tốt nhất tại Việt Nam.
        </p>
    </div>
    <div id="area">
        <div id="area-title">Khu vực nổi bật</div>
        <div id="area-list">
            <div class="area-content" id="area-1">
                <img src="~/Content/assets/img/Quan1.png" alt="Quận 1" />
                <div class="area-name">Quận 1</div>
            </div>
            <div class="area-content" id="area-2">
                <img src="~/Content/assets/img/Quan10.png" alt="Quận 10" />
                <div class="area-name">Quận 10</div>
            </div>
            <div class="area-content" id="area-3">
                <img src="~/Content/assets/img/Quan7.png" alt="Quận 7" />
                <div class="area-name">Quận 7</div>
            </div>
        </div>
    </div>
    <div class="search content">
        <div class="post-sort">
            <span>Sắp xếp: </span><a class="active" href="cho-thue-phong-trobfc7.html?orderby=mac-dinh&amp;page=1">
                Mặc
                định
            </a><a class="" href="cho-thue-phong-tro30d0.html?orderby=moi-nhat&amp;page=1">Mới nhất</a><a class=""
                                                                                                          href="cho-thue-phong-troaaad.html?orderby=video&amp;page=1">Có video</a>
        </div>
        <!-- Danh sách mặt bằng cho thuê -->
        <ul class="post-listing clearfix">
            <!-- Item 1 -->
            <li class="post-item clearfix vipnoibat">
                <figure class="post-thumb">
                    <a class="clearfix" href="#">
                        <img class="lazy_done"
                             src="https://pt123.cdn.static123.com/images/thumbs/450x300/fit/2024/10/04/z5878643013660-99045711764d09c22e9030c83e6dbc8c_1728010937.jpg"
                             data-src="https://pt123.cdn.static123.com/images/thumbs/450x300/fit/2024/10/04/z5878643013660-99045711764d09c22e9030c83e6dbc8c_1728010937.jpg"
                             alt="Phòng trọ dạng căn hộ mini cao cấp tại 796 Lê Đức Thọ, P.15, Quận Gò Vấp" height="100" width="100"
                             data-loaded="true" />
                    </a><span class="images-number">8 ảnh</span><span class="post-save js-btn-save" data-post-id="277630"><i></i></span>
                </figure>
                <div class="post-meta">
                    <h3 class="post-title">
                        <a style="color: #5498ff" href="#">
                            <span class="star star-5"></span>
                            Cho thuê nhà nguyên căn tiện kinh doanh ngay mặt tiền đường 3/2, phường 14, Quận 10
                        </a>
                    </h3>
                    <div class="meta-row clearfix">
                        <span class="post-price">48 triệu/tháng</span><span class="post-acreage">192m²</span><span class="post-location">
                            <a href="#" title="Cho thuê phòng trọ Quận Gò Vấp, Hồ Chí Minh">
                                Đường 3/2, Phường 14, Quận 10, Hồ Chí Minh
                            </a>
                        </span><time class="post-time" title="Thứ 6, 11:27 25/10/2024">2 giờ trước</time>
                    </div>
                    <div class="meta-row clearfix">
                        <p class="post-summary">
                            Chính chủ cần cho thuê nhà nguyên căn mặt tiền đường 3/2, Q10. Thông tin chi tiết nhà cụ thể như hình:- Diện tích đất : 4x16 (64m2)
                        </p>
                    </div>
                    <div class="meta-row clearfix">
                        <div class="post-author">
                            <img src="~Content/~/Content/assets/img/default-user.png" alt="Default" /><span class="author-name">Chị Giang</span>
                        </div>
                        <a rel="nofollow" target="_blank" href="#" class="btn-quick-zalo">Nhắn Zalo</a><a rel="nofollow" target="_blank" href="tel:0928837249" class="btn-quick-call">Gọi 0328837249</a>
                    </div>
                </div>
            </li>
            <!-- Item 2 -->
            <li class="post-item clearfix vipnoibat">
                <figure class="post-thumb">
                    <a class="clearfix" href="#">
                        <img class="lazy_done"
                             src="https://pt123.cdn.static123.com/images/thumbs/450x300/fit/2022/12/24/20221217-144626_1671862134.jpg"
                             data-src="https://pt123.cdn.static123.com/images/thumbs/450x300/fit/2022/12/24/20221217-144626_1671862134.jpg"
                             alt="Phòng trọ dạng căn hộ mini cao cấp tại 796 Lê Đức Thọ, P.15, Quận Gò Vấp" height="100" width="100"
                             data-loaded="true" />
                    </a><span class="images-number">8 ảnh</span><span class="post-save js-btn-save" data-post-id="277630"><i></i></span>
                </figure>
                <div class="post-meta">
                    <h3 class="post-title">
                        <a style="color: #5498ff" href="#">
                            <span class="star star-5"></span>
                            Mặt bằng Tân Bình 50m², mặt tiền 10m gần sân bay
                        </a>
                    </h3>
                    <div class="meta-row clearfix">
                        <span class="post-price">8 triệu/tháng</span><span class="post-acreage">45m²</span><span class="post-location">
                            <a href="#" title="Cho thuê phòng trọ Quận Gò Vấp, Hồ Chí Minh">
                                12 Đường Đặng Văn Sâm, Phường 2, Quận Tân Bình, Hồ Chí Minh
                            </a>
                        </span><time class="post-time" title="Thứ 6, 11:27 25/10/2024">2 giờ trước</time>
                    </div>
                    <div class="meta-row clearfix">
                        <p class="post-summary">
                            Cho thuê mặt bằng tầng trệt (Chính chủ)- Diện tích: 50 m2, mặt tiền dài 10m- Nằm ngay ngã tư Bạch Đằng-Đặng Văn Sâm, gần sân bay Tân Sơn Nhất
                        </p>
                    </div>
                    <div class="meta-row clearfix">
                        <div class="post-author">
                            <img src="~Content/~/Content/assets/img/default-user.png" alt="Default" /><span class="author-name">Anh Hiếu</span>
                        </div>
                        <a rel="nofollow" target="_blank" href="#" class="btn-quick-zalo">Nhắn Zalo</a><a rel="nofollow" target="_blank" href="tel:0928837249" class="btn-quick-call">Gọi 0918180327</a>
                    </div>
                </div>
            </li>
            <!-- Item 3 -->
            <li class="post-item clearfix vipnoibat">
                <figure class="post-thumb">
                    <a class="clearfix" href="#">
                        <img class="lazy_done"
                             src="https://pt123.cdn.static123.com/images/thumbs/450x300/fit/2022/11/08/z3864461102812-45557224e5e84263e041cfc2e0a0a8b3_1667899424.jpg"
                             data-src="https://pt123.cdn.static123.com/images/thumbs/450x300/fit/2022/11/08/z3864461102812-45557224e5e84263e041cfc2e0a0a8b3_1667899424.jpg"
                             alt="Phòng trọ dạng căn hộ mini cao cấp tại 796 Lê Đức Thọ, P.15, Quận Gò Vấp" height="100" width="100"
                             data-loaded="true" />
                    </a><span class="images-number">8 ảnh</span><span class="post-save js-btn-save" data-post-id="277630"><i></i></span>
                </figure>
                <div class="post-meta">
                    <h3 class="post-title">
                        <a style="color: #5498ff" href="#">
                            <span class="star star-5"></span>
                            Mặt bằng đẹp cho thuê đường Tân Sơn Nhì,Q.Tân Phú – (ở lại được, KD tự do hoặc mở Văn Phòng)
                        </a>
                    </h3>
                    <div class="meta-row clearfix">
                        <span class="post-price">5 triệu/tháng</span><span class="post-acreage">30m²</span><span class="post-location">
                            <a href="#" title="Cho thuê phòng trọ Quận Gò Vấp, Hồ Chí Minh">
                                26/42 Tân Sơn Nhì, Phường Tân Sơn Nhì, Quận Tân Phú, Hồ Chí Minh
                            </a>
                        </span><time class="post-time" title="Thứ 6, 11:27 25/10/2024">21 giờ trước</time>
                    </div>
                    <div class="meta-row clearfix">
                        <p class="post-summary">
                            Mặt bằng cho thuê đường xe hơi Tân Sơn Nhì, Quận Tân Phú (Rất đông người qua lại – tiện kinh doanh online hay mọi ngành nghề hoặc mở văn phòng)
                        </p>
                    </div>
                    <div class="meta-row clearfix">
                        <div class="post-author">
                            <img src="~Content/~/Content/assets/img/default-user.png" alt="Default" /><span class="author-name">Anh Công</span>
                        </div>
                        <a rel="nofollow" target="_blank" href="#" class="btn-quick-zalo">Nhắn Zalo</a><a rel="nofollow" target="_blank" href="tel:0928837249" class="btn-quick-call">Gọi 0938802805</a>
                    </div>
                </div>
            </li>
            <!-- Item 4 -->
            <li class="post-item clearfix vipnoibat">
                <figure class="post-thumb">
                    <a class="clearfix" href="#">
                        <img class="lazy_done"
                             src="https://pt123.cdn.static123.com/images/thumbs/900x600/fit/2024/10/27/9a61537eba74022a5b6516_1730000578.jpg"
                             data-src="https://pt123.cdn.static123.com/images/thumbs/900x600/fit/2024/10/27/9a61537eba74022a5b6516_1730000578.jpg"
                             alt="Phòng trọ dạng căn hộ mini cao cấp tại 796 Lê Đức Thọ, P.15, Quận Gò Vấp" height="100" width="100"
                             data-loaded="true" />
                    </a><span class="images-number">8 ảnh</span><span class="post-save js-btn-save" data-post-id="277630"><i></i></span>
                </figure>
                <div class="post-meta">
                    <h3 class="post-title">
                        <a style="color: #5498ff" href="#">
                            <span class="star star-5"></span>
                            CHO THUÊ - VĂN PHÒNG - KDC NAM LONG - QUẬN 7 - TPHCM
                        </a>
                    </h3>
                    <div class="meta-row clearfix">
                        <span class="post-price">12 triệu/tháng</span><span class="post-acreage">80m²</span><span class="post-location">
                            <a href="#" title="Cho thuê phòng trọ Quận Gò Vấp, Hồ Chí Minh">
                                Đường Trần Trọng Cung, Phường Tân Thuận Đông, Quận 7, Hồ Chí Minh
                            </a>
                        </span><time class="post-time" title="Thứ 6, 11:27 25/10/2024">2 giờ trước</time>
                    </div>
                    <div class="meta-row clearfix">
                        <p class="post-summary">
                            CHO THUÊ - VĂN PHÒNG - KDC NAM LONG - QUẬN 7 - TPHCM. Đường Trần Trọng Cung, Phường Tân Thuận Đông, Quận 7, Tphcm
                        </p>
                    </div>
                    <div class="meta-row clearfix">
                        <div class="post-author">
                            <img src="~Content/~/Content/assets/img/default-user.png" alt="Default" /><span class="author-name">Anh Việt</span>
                        </div>
                        <a rel="nofollow" target="_blank" href="#" class="btn-quick-zalo">Nhắn Zalo</a><a rel="nofollow" target="_blank" href="tel:0928837249" class="btn-quick-call">Gọi 0938297275</a>
                    </div>
                </div>
            </li>
            <!-- Item 5 -->
            <li class="post-item clearfix vipnoibat">
                <figure class="post-thumb">
                    <a class="clearfix" href="#">
                        <img class="lazy_done"
                             src="https://pt123.cdn.static123.com/images/thumbs/450x300/fit/2024/09/27/845096b60245a41bfd54_1727443374.jpg"
                             data-src="https://pt123.cdn.static123.com/images/thumbs/450x300/fit/2024/09/27/845096b60245a41bfd54_1727443374.jpg"
                             alt="Phòng trọ dạng căn hộ mini cao cấp tại 796 Lê Đức Thọ, P.15, Quận Gò Vấp" height="100" width="100"
                             data-loaded="true" />
                    </a><span class="images-number">8 ảnh</span><span class="post-save js-btn-save" data-post-id="277630"><i></i></span>
                </figure>
                <div class="post-meta">
                    <h3 class="post-title">
                        <a style="color: #5498ff" href="#">
                            <span class="star star-5"></span>
                            CHO THUÊ MẶT BẰNG - KINH DOANH - VỊ TRÍ ĐẮC ĐỊA : LH 093 250 1428
                        </a>
                    </h3>
                    <div class="meta-row clearfix">
                        <span class="post-price">20 triệu/tháng</span><span class="post-acreage">150m²</span><span class="post-location">
                            <a href="#" title="Cho thuê phòng trọ Quận Gò Vấp, Hồ Chí Minh">
                                Đường Hoàng Quốc Việt, Phường Phú Thuận, Quận 7, Hồ Chí Minh
                            </a>
                        </span><time class="post-time" title="Thứ 6, 11:27 25/10/2024">2 giờ trước</time>
                    </div>
                    <div class="meta-row clearfix">
                        <p class="post-summary">
                            CHO THUÊ MẶT BẰNG - KINH DOANH - VỊ TRÍ ĐẮC ĐỊA * Đường Hoàng Quốc Việt, Phường Phú Thuận, Quận 7* Giá thuê : 20 triệu* Tiền cọc : 40 triệu*
                        </p>
                    </div>
                    <div class="meta-row clearfix">
                        <div class="post-author">
                            <img src="~Content/~/Content/assets/img/default-user.png" alt="Default" /><span class="author-name">Anh Thọ</span>
                        </div>
                        <a rel="nofollow" target="_blank" href="#" class="btn-quick-zalo">Nhắn Zalo</a><a rel="nofollow" target="_blank" href="tel:0928837249" class="btn-quick-call">Gọi 0796252353</a>
                    </div>
                </div>
            </li>
            <!-- Item 6 -->
            <li class="post-item clearfix vipnoibat">
                <figure class="post-thumb">
                    <a class="clearfix" href="#">
                        <img class="lazy_done"
                             src="https://pt123.cdn.static123.com/images/thumbs/450x300/fit/2024/10/24/2cc83b5b3031886fd1206_1729777265.jpg"
                             data-src="https://pt123.cdn.static123.com/images/thumbs/450x300/fit/2024/10/24/2cc83b5b3031886fd1206_1729777265.jpg"
                             alt="Phòng trọ dạng căn hộ mini cao cấp tại 796 Lê Đức Thọ, P.15, Quận Gò Vấp" height="100" width="100"
                             data-loaded="true" />
                    </a><span class="images-number">8 ảnh</span><span class="post-save js-btn-save" data-post-id="277630"><i></i></span>
                </figure>
                <div class="post-meta">
                    <h3 class="post-title">
                        <a style="color: #5498ff" href="#">
                            <span class="star star-5"></span>
                            CHO THUÊ LÔ ĐẤT - MẶT TIỀN ĐƯỜNG - PHẠM HỮU LẦU - PHÚ MỸ - QUẬN 7
                        </a>
                    </h3>
                    <div class="meta-row clearfix">
                        <span class="post-price">150 triệu/tháng</span><span class="post-acreage">850m²</span><span class="post-location">
                            <a href="#" title="Cho thuê phòng trọ Quận Gò Vấp, Hồ Chí Minh">
                                Đường Phạm Hữu Lầu, Phường Phú Mỹ, Quận 7, Hồ Chí Minh
                            </a>
                        </span><time class="post-time" title="Thứ 6, 11:27 25/10/2024">2 giờ trước</time>
                    </div>
                    <div class="meta-row clearfix">
                        <p class="post-summary">
                            CHO THUÊ LÔ ĐẤT - MẶT TIỀN ĐƯỜNG - PHẠM HỮU LẦU - PHÚ MỸ - QUẬN 7 - TPHCM* Giá: 150 triệu/tháng* Diện tích: 850m2(12m x 43m) nở hậu 30m.
                        </p>
                    </div>
                    <div class="meta-row clearfix">
                        <div class="post-author">
                            <img src="~Content/~/Content/assets/img/default-user.png" alt="Default" /><span class="author-name">Chị Hoa</span>
                        </div>
                        <a rel="nofollow" target="_blank" href="#" class="btn-quick-zalo">Nhắn Zalo</a><a rel="nofollow" target="_blank" href="tel:0928837249" class="btn-quick-call">Gọi 0983422460</a>
                    </div>
                </div>
            </li>
            <!-- Item 7 -->
            <li class="post-item clearfix vipnoibat">
                <figure class="post-thumb">
                    <a class="clearfix" href="#">
                        <img class="lazy_done"
                             src="https://pt123.cdn.static123.com/images/thumbs/450x300/fit/2024/10/26/c22bbb485c85e5dbbc94_1729934735.jpg"
                             data-src="https://pt123.cdn.static123.com/images/thumbs/450x300/fit/2024/10/26/c22bbb485c85e5dbbc94_1729934735.jpg"
                             alt="Phòng trọ dạng căn hộ mini cao cấp tại 796 Lê Đức Thọ, P.15, Quận Gò Vấp" height="100" width="100"
                             data-loaded="true" />
                    </a><span class="images-number">8 ảnh</span><span class="post-save js-btn-save" data-post-id="277630"><i></i></span>
                </figure>
                <div class="post-meta">
                    <h3 class="post-title">
                        <a style="color: #5498ff" href="#">
                            <span class="star star-5"></span>
                            Cho thuê mặt bằng mở tiệm nail, có chỗ ở lại giá chỉ 8tr
                        </a>
                    </h3>
                    <div class="meta-row clearfix">
                        <span class="post-price">8 triệu/tháng</span><span class="post-acreage">50m²</span><span class="post-location">
                            <a href="#" title="Cho thuê phòng trọ Quận Gò Vấp, Hồ Chí Minh">
                                Hẻm chợ Đường Bình Thành, Phường Bình Hưng Hòa B, Quận Bình Tân, Hồ Chí Minh
                            </a>
                        </span><time class="post-time" title="Thứ 6, 11:27 25/10/2024">2 giờ trước</time>
                    </div>
                    <div class="meta-row clearfix">
                        <p class="post-summary">
                            CHÍNH CHỦ Cho thuê mặt bằng kinh doanh 52m2 tại Hẻm chợ Bình Thành, gần trường cấp 1,2,3, chung cư, khu vực đông dân cư.Vị Trí :Hẻm chợ Đường Bình
                        </p>
                    </div>
                    <div class="meta-row clearfix">
                        <div class="post-author">
                            <img src="~Content/~/Content/assets/img/default-user.png" alt="Default" /><span class="author-name">Anh Thanh</span>
                        </div>
                        <a rel="nofollow" target="_blank" href="#" class="btn-quick-zalo">Nhắn Zalo</a><a rel="nofollow" target="_blank" href="tel:0928837249" class="btn-quick-call">Gọi 0932445664</a>
                    </div>
                </div>
            </li>
            <!-- Item 8 -->
            <li class="post-item clearfix vipnoibat">
                <figure class="post-thumb">
                    <a class="clearfix" href="#">
                        <img class="lazy_done"
                             src="https://pt123.cdn.static123.com/images/thumbs/450x300/fit/2024/04/15/28bd8694-8d8f-41f4-83e0-d78d2783b0cf_1713161049.jpg"
                             data-src="https://pt123.cdn.static123.com/images/thumbs/450x300/fit/2024/04/15/28bd8694-8d8f-41f4-83e0-d78d2783b0cf_1713161049.jpg"
                             alt="Phòng trọ dạng căn hộ mini cao cấp tại 796 Lê Đức Thọ, P.15, Quận Gò Vấp" height="100" width="100"
                             data-loaded="true" />
                    </a><span class="images-number">8 ảnh</span><span class="post-save js-btn-save" data-post-id="277630"><i></i></span>
                </figure>
                <div class="post-meta">
                    <h3 class="post-title">
                        <a style="color: #5498ff" href="#">
                            <span class="star star-5"></span>
                            Cần cho thuê mặt bằng kinh doanh giá rẻ
                        </a>
                    </h3>
                    <div class="meta-row clearfix">
                        <span class="post-price">8 triệu/tháng</span><span class="post-acreage">52m²</span><span class="post-location">
                            <a href="#" title="Cho thuê phòng trọ Quận Gò Vấp, Hồ Chí Minh">
                                40F Đường Ao Đôi, Phường Bình Trị Đông A, Quận Bình Tân, Hồ Chí Minh
                            </a>
                        </span><time class="post-time" title="Thứ 6, 11:27 25/10/2024">2 giờ trước</time>
                    </div>
                    <div class="meta-row clearfix">
                        <p class="post-summary">
                            Cần cho thuê mặt bằng giá rẻ - Khu dân cư hiện hữu đông đúc, đường 2 chiều thuận lợi dòng người qua lại- Gần bệnh viện bình tân, thông ra quốc lộ
                        </p>
                    </div>
                    <div class="meta-row clearfix">
                        <div class="post-author">
                            <img src="~Content/~/Content/assets/img/default-user.png" alt="Default" /><span class="author-name">Chị Nhung</span>
                        </div>
                        <a rel="nofollow" target="_blank" href="#" class="btn-quick-zalo">Nhắn Zalo</a><a rel="nofollow" target="_blank" href="tel:0928837249" class="btn-quick-call">Gọi 0972468365</a>
                    </div>
                </div>
            </li>
            <!-- Item 9 -->
            <li class="post-item clearfix vipnoibat">
                <figure class="post-thumb">
                    <a class="clearfix" href="#">
                        <img class="lazy_done"
                             src="https://pt123.cdn.static123.com/images/thumbs/450x300/fit/2024/10/19/001_1729300988.jpg"
                             data-src="https://pt123.cdn.static123.com/images/thumbs/450x300/fit/2024/10/19/001_1729300988.jpg"
                             alt="Phòng trọ dạng căn hộ mini cao cấp tại 796 Lê Đức Thọ, P.15, Quận Gò Vấp" height="100" width="100"
                             data-loaded="true" />
                    </a><span class="images-number">8 ảnh</span><span class="post-save js-btn-save" data-post-id="277630"><i></i></span>
                </figure>
                <div class="post-meta">
                    <h3 class="post-title">
                        <a style="color: #5498ff" href="#">
                            <span class="star star-5"></span>
                            Mặt Bằng Hẻm Lớn Cư Xá Lữ Gia gồm 1Trệt 1 Lửng
                        </a>
                    </h3>
                    <div class="meta-row clearfix">
                        <span class="post-price">6.8 triệu/tháng</span><span class="post-acreage">40m²</span><span class="post-location">
                            <a href="#" title="Cho thuê phòng trọ Quận Gò Vấp, Hồ Chí Minh">
                                257/12 Lý Thường Kiệt, Phường 15, Quận 11, Hồ Chí Minh
                            </a>
                        </span><time class="post-time" title="Thứ 6, 11:27 25/10/2024">2 giờ trước</time>
                    </div>
                    <div class="meta-row clearfix">
                        <p class="post-summary">
                            Mặt Bằng Hẻm Lớn Cư Xá Lữ Gia gồm 1Trệt 1 Lửng Mọi người đọc kỹ thông tin bên dưới:- Cho thuê mặt bằng tầng trệt trong nhà nguyên căn
                        </p>
                    </div>
                    <div class="meta-row clearfix">
                        <div class="post-author">
                            <img src="~Content/~/Content/assets/img/default-user.png" alt="Default" /><span class="author-name">Chị Thu</span>
                        </div>
                        <a rel="nofollow" target="_blank" href="#" class="btn-quick-zalo">Nhắn Zalo</a><a rel="nofollow" target="_blank" href="tel:0928837249" class="btn-quick-call">Gọi 0974658325</a>
                    </div>
                </div>
            </li>
            <!-- Item 10 -->
            <li class="post-item clearfix vipnoibat">
                <figure class="post-thumb">
                    <a class="clearfix" href="#">
                        <img class="lazy_done"
                             src="https://pt123.cdn.static123.com/images/thumbs/450x300/fit/2024/07/30/a0d6c658b2ad17f34ebc23_1722354890.jpg"
                             data-src="https://pt123.cdn.static123.com/images/thumbs/450x300/fit/2024/07/30/a0d6c658b2ad17f34ebc23_1722354890.jpg"
                             alt="Phòng trọ dạng căn hộ mini cao cấp tại 796 Lê Đức Thọ, P.15, Quận Gò Vấp" height="100" width="100"
                             data-loaded="true" />
                    </a><span class="images-number">8 ảnh</span><span class="post-save js-btn-save" data-post-id="277630"><i></i></span>
                </figure>
                <div class="post-meta">
                    <h3 class="post-title">
                        <a style="color: #5498ff" href="#">
                            <span class="star star-5"></span>
                            Cho Thuê Mặt Bằng 30m2 Mặt Tiền Đường Bàu Cát - Tân Bình
                        </a>
                    </h3>
                    <div class="meta-row clearfix">
                        <span class="post-price">8 triệu/tháng</span><span class="post-acreage">30m²</span><span class="post-location">
                            <a href="#" title="Cho thuê phòng trọ Quận Gò Vấp, Hồ Chí Minh">
                                50 Đường Bàu Cát, Phường 14, Quận Tân Bình, Hồ Chí Minh
                            </a>
                        </span><time class="post-time" title="Thứ 6, 11:27 25/10/2024">2 giờ trước</time>
                    </div>
                    <div class="meta-row clearfix">
                        <p class="post-summary">
                            Cho Thuê Mặt Bằng 30m2 Mặt Tiền Đường Bàu Cát - Tân Bình- nằm tại vị trí đắc địa, khu dân cư đông đúc, thuận tiện kinh doanh các mặt hàng
                        </p>
                    </div>
                    <div class="meta-row clearfix">
                        <div class="post-author">
                            <img src="~Content/~/Content/assets/img/default-user.png" alt="Default" /><span class="author-name">Chị Hà</span>
                        </div>
                        <a rel="nofollow" target="_blank" href="#" class="btn-quick-zalo">Nhắn Zalo</a><a rel="nofollow" target="_blank" href="tel:0928837249" class="btn-quick-call">Gọi 0974659365</a>
                    </div>
                </div>
            </li>
        </ul>
        <div class="search-filters"></div>
    </div>
</main>

