
@{
    ViewBag.Title = "Thuê Căn Hộ";
}

<main>
    <div id="intro">
        <h1>Cho Thuê Phòng Trọ, Giá Rẻ, Tiện Nghi, Mới Nhất 2024</h1>
        <p>
            Cho thuê phòng trọ - Kênh thông tin số 1 về phòng trọ giá rẻ, phòng
            trọ sinh viên, phòng trọ cao cấp mới nhất năm 2024. Tất cả nhà trọ cho
            thuê giá tốt nhất tại Việt Nam.
        </p>
    </div>
    <div id="area">
        <div id="area-title">Khu vực nổi bật</div>
        <div id="area-list">
            <div class="area-content" id="area-1">
                <img src="~/Content/assets/img/Quan1.png" alt="Quận 1" />
                <div class="area-name">Quận 1</div>
            </div>
            <div class="area-content" id="area-2">
                <img src="~/Content/assets/img/Quan10.png" alt="Quận 10" />
                <div class="area-name">Quận 10</div>
            </div>
            <div class="area-content" id="area-3">
                <img src="~/Content/assets/img/Quan7.png" alt="Quận 7" />
                <div class="area-name">Quận 7</div>
            </div>
        </div>
    </div>
    <div class="search content">
        <div class="post-sort">
            <span>Sắp xếp: </span><a class="active" href="cho-thue-phong-trobfc7.html?orderby=mac-dinh&amp;page=1">
                Mặc
                định
            </a><a class="" href="cho-thue-phong-tro30d0.html?orderby=moi-nhat&amp;page=1">Mới nhất</a><a class="" href="cho-thue-phong-troaaad.html?orderby=video&amp;page=1">Có video</a>
        </div>
        <!-- Danh sách căn hộ cho thuê -->
        <ul class="post-listing clearfix">
            <!-- Item 1 -->
            <li class="post-item clearfix vipnoibat">
                <figure class="post-thumb">
                    <a class="clearfix" href="#">
                        <img class="lazy_done"
                             src="https://pt123.cdn.static123.com/images/thumbs/450x300/fit/2024/10/01/z5884578751229-b0a31dac5151b680cee065205d7ee47a_1727754250.jpg"
                             data-src="https://pt123.cdn.static123.com/images/thumbs/450x300/fit/2024/10/01/z5884578751229-b0a31dac5151b680cee065205d7ee47a_1727754250.jpg"
                             alt="Phòng trọ dạng căn hộ mini cao cấp tại 796 Lê Đức Thọ, P.15, Quận Gò Vấp" height="100" width="100"
                             data-loaded="true" />
                    </a><span class="images-number">8 ảnh</span><span class="post-save js-btn-save" data-post-id="277630"><i></i></span>
                </figure>
                <div class="post-meta">
                    <h3 class="post-title">
                        <a style="color: #5498ff" href="#">
                            <span class="star star-5"></span>
                            Cho thuê căn hộ ban công 35m2 full nội thất mới cao cấp, Khu K300, cạnh Lotter Cộng Hoà, Chợ Hoàng HoaThám
                        </a>
                    </h3>
                    <div class="meta-row clearfix">
                        <span class="post-price">3.6 triệu/tháng</span><span class="post-acreage">35m²</span><span class="post-location">
                            <a href="#" title="Cho thuê phòng trọ Quận Gò Vấp, Hồ Chí Minh">
                                67 Đường Nguyễn Minh Hoàng, Phường 12, Quận Tân Bình, Hồ Chí Minh
                            </a>
                        </span><time class="post-time" title="Thứ 6, 11:27 25/10/2024">2 giờ trước</time>
                    </div>
                    <div class="meta-row clearfix">
                        <p class="post-summary">
                            Căn hộ 35m2, full nội thất, mới 100%,Cạnh Lotte Cộng Hoà: 67 Nguyễn Minh Hoàng, P12, Quận Tân Bình.100m tới Lotte Cộng Hoà, 5 phút tới sân bay Tân Sơn Nhất
                        </p>
                    </div>
                    <div class="meta-row clearfix">
                        <div class="post-author">
                            <img src="~Content/~/Content/assets/img/default-user.png" alt="Default" /><span class="author-name">Chị Giang</span>
                        </div>
                        <a rel="nofollow" target="_blank" href="#" class="btn-quick-zalo">Nhắn Zalo</a><a rel="nofollow" target="_blank" href="tel:0928837249" class="btn-quick-call">Gọi 0328837249</a>
                    </div>
                </div>
            </li>
            <!-- Item 2 -->
            <li class="post-item clearfix vipnoibat">
                <figure class="post-thumb">
                    <a class="clearfix" href="#">
                        <img class="lazy_done"
                             src="https://pt123.cdn.static123.com/images/thumbs/900x600/fit/2024/10/27/1i4bbj8sd-7gpf4t_1730036159.jpg"
                             data-src="https://pt123.cdn.static123.com/images/thumbs/900x600/fit/2024/10/27/1i4bbj8sd-7gpf4t_1730036159.jpg"
                             alt="Phòng trọ dạng căn hộ mini cao cấp tại 796 Lê Đức Thọ, P.15, Quận Gò Vấp" height="100" width="100"
                             data-loaded="true" />
                    </a><span class="images-number">8 ảnh</span><span class="post-save js-btn-save" data-post-id="277630"><i></i></span>
                </figure>
                <div class="post-meta">
                    <h3 class="post-title">
                        <a style="color: #5498ff" href="#">
                            <span class="star star-5"></span>
                            Cho thuê STUDIO ban công Full nội thất đầy đủ - cách Lotte 500m gần TDT - RMIT - sát Q4 Q8
                        </a>
                    </h3>
                    <div class="meta-row clearfix">
                        <span class="post-price">6 triệu/tháng</span><span class="post-acreage">35m²</span><span class="post-location">
                            <a href="#" title="Cho thuê phòng trọ Quận Gò Vấp, Hồ Chí Minh">
                                81, Phường Tân Quy, Quận 7, Hồ Chí Minh
                            </a>
                        </span><time class="post-time" title="Thứ 6, 11:27 25/10/2024">2 giờ trước</time>
                    </div>
                    <div class="meta-row clearfix">
                        <p class="post-summary">
                            Nội thất : Máy lạnh ,Tủ lạnh, máy nước nóng máy giặt, sofa, giường nệm…. Cửa sổ ban công siêu thoáng mát. 
                            Thiết kế hiện đại, nội thất mới. Giờ giấc tự do, không chung chủ, an ninh, yên tĩnh. CALL/IB: 0768.917.658 - Hỗ trợ tư vấn, xem phòng trực tiếp
                        </p>
                    </div>
                    <div class="meta-row clearfix">
                        <div class="post-author">
                            <img src="~Content/~/Content/assets/img/default-user.png" alt="Default" /><span class="author-name">Anh Hiếu</span>
                        </div>
                        <a rel="nofollow" target="_blank" href="#" class="btn-quick-zalo">Nhắn Zalo</a><a rel="nofollow" target="_blank" href="tel:0928837249" class="btn-quick-call">Gọi 0918180327</a>
                    </div>
                </div>
            </li>
            <!-- Item 3 -->
            <li class="post-item clearfix vipnoibat">
                <figure class="post-thumb">
                    <a class="clearfix" href="#">
                        <img class="lazy_done"
                             src="https://pt123.cdn.static123.com/images/thumbs/900x600/fit/2024/04/03/14_1712111829.jpg"
                             data-src="https://pt123.cdn.static123.com/images/thumbs/900x600/fit/2024/04/03/14_1712111829.jpg"
                             alt="Phòng trọ dạng căn hộ mini cao cấp tại 796 Lê Đức Thọ, P.15, Quận Gò Vấp" height="100" width="100"
                             data-loaded="true" />
                    </a><span class="images-number">8 ảnh</span><span class="post-save js-btn-save" data-post-id="277630"><i></i></span>
                </figure>
                <div class="post-meta">
                    <h3 class="post-title">
                        <a style="color: #5498ff" href="#">
                            <span class="star star-5"></span>
                            Phòng đẹp full nội thất có ban công - Trường Chinh P.12 Q. Tân Bình
                        </a>
                    </h3>
                    <div class="meta-row clearfix">
                        <span class="post-price">5.8 triệu/tháng</span><span class="post-acreage">25m²</span><span class="post-location">
                            <a href="#" title="Cho thuê phòng trọ Quận Gò Vấp, Hồ Chí Minh">
                                Đường Nguyễn Tử Nha, Phường 12, Quận Tân Bình, Hồ Chí Minh
                            </a>
                        </span><time class="post-time" title="Thứ 6, 11:27 25/10/2024">21 giờ trước</time>
                    </div>
                    <div class="meta-row clearfix">
                        <p class="post-summary">
                            Phòng studio cho thuê đầy đủ nội thất Trường Chinh P.12 Q. Tân Bình.Giá 5.800.000/ tháng. Phí dịch vụ 200k/ phòng. Điện 4k/kwh, nước 100k/người
                        </p>
                    </div>
                    <div class="meta-row clearfix">
                        <div class="post-author">
                            <img src="~Content/~/Content/assets/img/default-user.png" alt="Default" /><span class="author-name">Anh Công</span>
                        </div>
                        <a rel="nofollow" target="_blank" href="#" class="btn-quick-zalo">Nhắn Zalo</a><a rel="nofollow" target="_blank" href="tel:0928837249" class="btn-quick-call">Gọi 0938802805</a>
                    </div>
                </div>
            </li>
            <!-- Item 4 -->
            <li class="post-item clearfix vipnoibat">
                <figure class="post-thumb">
                    <a class="clearfix" href="#">
                        <img class="lazy_done"
                             src="https://pt123.cdn.static123.com/images/thumbs/450x300/fit/2024/08/29/img-20240815-134249_1724927477.jpg"
                             data-src="https://pt123.cdn.static123.com/images/thumbs/450x300/fit/2024/08/29/img-20240815-134249_1724927477.jpg"
                             alt="Phòng trọ dạng căn hộ mini cao cấp tại 796 Lê Đức Thọ, P.15, Quận Gò Vấp" height="100" width="100"
                             data-loaded="true" />
                    </a><span class="images-number">8 ảnh</span><span class="post-save js-btn-save" data-post-id="277630"><i></i></span>
                </figure>
                <div class="post-meta">
                    <h3 class="post-title">
                        <a style="color: #5498ff" href="#">
                            <span class="star star-5"></span>
                            Phòng Hộ Mini Full Tiện Nghi Ngay Nguyễn Văn Hưởng, Thảo Điền, Dọn Vào Ở Ngay.
                        </a>
                    </h3>
                    <div class="meta-row clearfix">
                        <span class="post-price">4.9 triệu/tháng</span><span class="post-acreage">40m²</span><span class="post-location">
                            <a href="#" title="Cho thuê phòng trọ Quận Gò Vấp, Hồ Chí Minh">
                                215B Đường Nguyễn Văn Hưởng, Phường Thảo Điền, Quận 2, Hồ Chí Minh
                            </a>
                        </span><time class="post-time" title="Thứ 6, 11:27 25/10/2024">2 giờ trước</time>
                    </div>
                    <div class="meta-row clearfix">
                        <p class="post-summary">
                            Cho thuê phòng trọ, căn hộ mini cao cấp full nội thất tiện nghi có bếp và nhà vệ sinh riêng. Địa chỉ: Hẻm 215 Đg Nguyễn Văn Hưởng phường Thảo Điền
                        </p>
                    </div>
                    <div class="meta-row clearfix">
                        <div class="post-author">
                            <img src="~Content/~/Content/assets/img/default-user.png" alt="Default" /><span class="author-name">Anh Việt</span>
                        </div>
                        <a rel="nofollow" target="_blank" href="#" class="btn-quick-zalo">Nhắn Zalo</a><a rel="nofollow" target="_blank" href="tel:0928837249" class="btn-quick-call">Gọi 0938297275</a>
                    </div>
                </div>
            </li>
            <!-- Item 5 -->
            <li class="post-item clearfix vipnoibat">
                <figure class="post-thumb">
                    <a class="clearfix" href="#">
                        <img class="lazy_done"
                             src="https://pt123.cdn.static123.com/images/thumbs/900x600/fit/2024/10/28/img-2341_1730087967.jpg"
                             data-src="https://pt123.cdn.static123.com/images/thumbs/900x600/fit/2024/10/28/img-2341_1730087967.jpg"
                             alt="Phòng trọ dạng căn hộ mini cao cấp tại 796 Lê Đức Thọ, P.15, Quận Gò Vấp" height="100" width="100"
                             data-loaded="true" />
                    </a><span class="images-number">8 ảnh</span><span class="post-save js-btn-save" data-post-id="277630"><i></i></span>
                </figure>
                <div class="post-meta">
                    <h3 class="post-title">
                        <a style="color: #5498ff" href="#">
                            <span class="star star-5"></span>
                            Cho thuê Phòng Duplet Nguyễn Du Q1 sau toà nhà PetroVietNam
                        </a>
                    </h3>
                    <div class="meta-row clearfix">
                        <span class="post-price">7.8 triệu/tháng</span><span class="post-acreage">30m²</span><span class="post-location">
                            <a href="#" title="Cho thuê phòng trọ Quận Gò Vấp, Hồ Chí Minh">
                                Đường Nguyễn Du, Phường Bến Nghé, Quận 1, Hồ Chí Minh
                            </a>
                        </span><time class="post-time" title="Thứ 6, 11:27 25/10/2024">2 giờ trước</time>
                    </div>
                    <div class="meta-row clearfix">
                        <p class="post-summary">
                            Phòng Duplet Nguyễn Du Q1 sau toà nhà PetroVietNamNằm Trung Tâm Q1 , Gần Đại Học Khoa Học Xã Hội Và Nhân Văn , Cầu Ba Son , Nhà Thờ Đức Bà , Thảo Cầm Viên
                        </p>
                    </div>
                    <div class="meta-row clearfix">
                        <div class="post-author">
                            <img src="~Content/~/Content/assets/img/default-user.png" alt="Default" /><span class="author-name">Anh Thọ</span>
                        </div>
                        <a rel="nofollow" target="_blank" href="#" class="btn-quick-zalo">Nhắn Zalo</a><a rel="nofollow" target="_blank" href="tel:0928837249" class="btn-quick-call">Gọi 0796252353</a>
                    </div>
                </div>
            </li>
            <!-- Item 6 -->
            <li class="post-item clearfix vipnoibat">
                <figure class="post-thumb">
                    <a class="clearfix" href="#">
                        <img class="lazy_done"
                             src="https://pt123.cdn.static123.com/images/thumbs/900x600/fit/2024/10/28/img-1730036195970-1730086289253_1730087487.jpg"
                             data-src="https://pt123.cdn.static123.com/images/thumbs/900x600/fit/2024/10/28/img-1730036195970-1730086289253_1730087487.jpg"
                             alt="Phòng trọ dạng căn hộ mini cao cấp tại 796 Lê Đức Thọ, P.15, Quận Gò Vấp" height="100" width="100"
                             data-loaded="true" />
                    </a><span class="images-number">8 ảnh</span><span class="post-save js-btn-save" data-post-id="277630"><i></i></span>
                </figure>
                <div class="post-meta">
                    <h3 class="post-title">
                        <a style="color: #5498ff" href="#">
                            <span class="star star-5"></span>
                            Cho thuê chdv 1-2 phòng ngủ, ban công, studio, duplex,...đầy đủ nội thất, gần Sân Bay, quận Tân Bình
                        </a>
                    </h3>
                    <div class="meta-row clearfix">
                        <span class="post-price">8 triệu/tháng</span><span class="post-acreage">40m²</span><span class="post-location">
                            <a href="#" title="Cho thuê phòng trọ Quận Gò Vấp, Hồ Chí Minh">
                                Đường Bành Văn Trân, Phường 7, Quận Tân Bình, Hồ Chí Minh
                            </a>
                        </span><time class="post-time" title="Thứ 6, 11:27 25/10/2024">2 giờ trước</time>
                    </div>
                    <div class="meta-row clearfix">
                        <p class="post-summary">
                            CĂN HỘ STUDIO BAN CÔNG VIEW ĐẸP THOÁNG MÁT, ĐẦY ĐỦ NỘI THẤT CAO CẤP. GẦN NGÃ TƯ BẢY HIỀN & CÔNG VIÊN THỎ TRẮNG. Cho thuê Căn hộ Studio đầy đủ nội thất
                        </p>
                    </div>
                    <div class="meta-row clearfix">
                        <div class="post-author">
                            <img src="~Content/~/Content/assets/img/default-user.png" alt="Default" /><span class="author-name">Chị Hoa</span>
                        </div>
                        <a rel="nofollow" target="_blank" href="#" class="btn-quick-zalo">Nhắn Zalo</a><a rel="nofollow" target="_blank" href="tel:0928837249" class="btn-quick-call">Gọi 0983422460</a>
                    </div>
                </div>
            </li>
            <!-- Item 7 -->
            <li class="post-item clearfix vipnoibat">
                <figure class="post-thumb">
                    <a class="clearfix" href="#">
                        <img class="lazy_done"
                             src="https://pt123.cdn.static123.com/images/thumbs/450x300/fit/2024/10/28/img-7551_1730086757.jpg"
                             data-src="https://pt123.cdn.static123.com/images/thumbs/450x300/fit/2024/10/28/img-7551_1730086757.jpg"
                             alt="Phòng trọ dạng căn hộ mini cao cấp tại 796 Lê Đức Thọ, P.15, Quận Gò Vấp" height="100" width="100"
                             data-loaded="true" />
                    </a><span class="images-number">8 ảnh</span><span class="post-save js-btn-save" data-post-id="277630"><i></i></span>
                </figure>
                <div class="post-meta">
                    <h3 class="post-title">
                        <a style="color: #5498ff" href="#">
                            <span class="star star-5"></span>
                            Cho Thuê Căn Hộ Dịch Vụ với Ban Công siêu thoáng mát
                        </a>
                    </h3>
                    <div class="meta-row clearfix">
                        <span class="post-price">4 triệu/tháng</span><span class="post-acreage">30m²</span><span class="post-location">
                            <a href="#" title="Cho thuê phòng trọ Quận Gò Vấp, Hồ Chí Minh">
                                Phường Tân Hưng, Quận 7, Hồ Chí Minh
                            </a>
                        </span><time class="post-time" title="Thứ 6, 11:27 25/10/2024">2 giờ trước</time>
                    </div>
                    <div class="meta-row clearfix">
                        <p class="post-summary">
                            CĂN HỘ 1PN FULL NT MÁY GIẶT RIÊNG Ở TRUNG TÂM QUẬN 7 .Có thể DỌN VÀO Ở NGAY LẬP TỨC LUN Địa chỉ: Hoàng Trọng Mậu, Quận 7.
                        </p>
                    </div>
                    <div class="meta-row clearfix">
                        <div class="post-author">
                            <img src="~Content/~/Content/assets/img/default-user.png" alt="Default" /><span class="author-name">Anh Thanh</span>
                        </div>
                        <a rel="nofollow" target="_blank" href="#" class="btn-quick-zalo">Nhắn Zalo</a><a rel="nofollow" target="_blank" href="tel:0928837249" class="btn-quick-call">Gọi 0932445664</a>
                    </div>
                </div>
            </li>
            <!-- Item 8 -->
            <li class="post-item clearfix vipnoibat">
                <figure class="post-thumb">
                    <a class="clearfix" href="#">
                        <img class="lazy_done"
                             src="https://pt123.cdn.static123.com/images/thumbs/450x300/fit/2024/10/24/img-7473_1729753551.jpg"
                             data-src="https://pt123.cdn.static123.com/images/thumbs/450x300/fit/2024/10/24/img-7473_1729753551.jpg"
                             alt="Phòng trọ dạng căn hộ mini cao cấp tại 796 Lê Đức Thọ, P.15, Quận Gò Vấp" height="100" width="100"
                             data-loaded="true" />
                    </a><span class="images-number">8 ảnh</span><span class="post-save js-btn-save" data-post-id="277630"><i></i></span>
                </figure>
                <div class="post-meta">
                    <h3 class="post-title">
                        <a style="color: #5498ff" href="#">
                            <span class="star star-5"></span>
                            Cho Thuê Căn Hộ Dịch Vụ 1PN với Ban Công Lớn Thoáng Mát
                        </a>
                    </h3>
                    <div class="meta-row clearfix">
                        <span class="post-price">12 triệu/tháng</span><span class="post-acreage">40m²</span><span class="post-location">
                            <a href="#" title="Cho thuê phòng trọ Quận Gò Vấp, Hồ Chí Minh">
                                Đường Trần Xuân Soạn, Phường Tân Kiểng, Quận 7, Hồ Chí Minh
                            </a>
                        </span><time class="post-time" title="Thứ 6, 11:27 25/10/2024">2 giờ trước</time>
                    </div>
                    <div class="meta-row clearfix">
                        <p class="post-summary">
                            Cho thuê căn hộ 1PN Full nội thất với ban công lớn.Vị trí: Trần Xuân Soạn, Quận 7. Giờ giấc tự do, không chung chủ, bạn bè người thân có thể đến thăm
                        </p>
                    </div>
                    <div class="meta-row clearfix">
                        <div class="post-author">
                            <img src="~Content/~/Content/assets/img/default-user.png" alt="Default" /><span class="author-name">Chi Nhung</span>
                        </div>
                        <a rel="nofollow" target="_blank" href="#" class="btn-quick-zalo">Nhắn Zalo</a><a rel="nofollow" target="_blank" href="tel:0928837249" class="btn-quick-call">Gọi 0972468365</a>
                    </div>
                </div>
            </li>
            <!-- Item 9 -->
            <li class="post-item clearfix vipnoibat">
                <figure class="post-thumb">
                    <a class="clearfix" href="#">
                        <img class="lazy_done"
                             src="https://pt123.cdn.static123.com/images/thumbs/450x300/fit/2024/10/28/1_1730085596.jpg"
                             data-src="https://pt123.cdn.static123.com/images/thumbs/450x300/fit/2024/10/28/1_1730085596.jpg"
                             alt="Phòng trọ dạng căn hộ mini cao cấp tại 796 Lê Đức Thọ, P.15, Quận Gò Vấp" height="100" width="100"
                             data-loaded="true" />
                    </a><span class="images-number">8 ảnh</span><span class="post-save js-btn-save" data-post-id="277630"><i></i></span>
                </figure>
                <div class="post-meta">
                    <h3 class="post-title">
                        <a style="color: #5498ff" href="#">
                            <span class="star star-5"></span>
                            STUDIO FULL NỘI THẤT VỪA HOÀN THIỆN NGAY TRỤC LÝ THƯỜNG KIỆT, ĐH BÁCH KHOA, ĐƯỜNG LÝ THƯỜNG KIỆT QUẬN 10
                        </a>
                    </h3>
                    <div class="meta-row clearfix">
                        <span class="post-price">6 triệu/tháng</span><span class="post-acreage">35m²</span><span class="post-location">
                            <a href="#" title="Cho thuê phòng trọ Quận Gò Vấp, Hồ Chí Minh">
                                Phố Lý Thường Kiệt, Phường 14, Quận 10, Hồ Chí Minh
                            </a>
                        </span><time class="post-time" title="Thứ 6, 11:27 25/10/2024">2 giờ trước</time>
                    </div>
                    <div class="meta-row clearfix">
                        <p class="post-summary">
                            STUDIO FULL NỘI THẤT VỪA HOÀN THIỆN NGAY TRỤC LÝ THƯỜNG KIỆT, ĐH BÁCH KHOAĐƯỜNG LÝ THƯỜNG KIỆT QUẬN 10 Diện tích 35m2, full nội thất, tiện nghi
                        </p>
                    </div>
                    <div class="meta-row clearfix">
                        <div class="post-author">
                            <img src="~Content/~/Content/assets/img/default-user.png" alt="Default" /><span class="author-name">Chị Thu</span>
                        </div>
                        <a rel="nofollow" target="_blank" href="#" class="btn-quick-zalo">Nhắn Zalo</a><a rel="nofollow" target="_blank" href="tel:0928837249" class="btn-quick-call">Gọi 0974658325</a>
                    </div>
                </div>
            </li>
            <!-- Item 10 -->
            <li class="post-item clearfix vipnoibat">
                <figure class="post-thumb">
                    <a class="clearfix" href="#">
                        <img class="lazy_done"
                             src="https://pt123.cdn.static123.com/images/thumbs/450x300/fit/2024/10/28/img-8931_1730084743.jpg"
                             data-src="https://pt123.cdn.static123.com/images/thumbs/450x300/fit/2024/10/28/img-8931_1730084743.jpg"
                             alt="Phòng trọ dạng căn hộ mini cao cấp tại 796 Lê Đức Thọ, P.15, Quận Gò Vấp" height="100" width="100"
                             data-loaded="true" />
                    </a><span class="images-number">8 ảnh</span><span class="post-save js-btn-save" data-post-id="277630"><i></i></span>
                </figure>
                <div class="post-meta">
                    <h3 class="post-title">
                        <a style="color: #5498ff" href="#">
                            <span class="star star-5"></span>
                            Cho Thuê STUDIO ban công Full nội thất new 100% Phường Phú Mỹ - Nguyễn Lương Bằng - Coopfoob Quận 7
                        </a>
                    </h3>
                    <div class="meta-row clearfix">
                        <span class="post-price">6 triệu/tháng</span><span class="post-acreage">30m²</span><span class="post-location">
                            <a href="#" title="Cho thuê phòng trọ Quận Gò Vấp, Hồ Chí Minh">
                                49 Đường Hoàng Quốc Việt, Phường Phú Mỹ, Quận 7, Hồ Chí Minh
                            </a>
                        </span><time class="post-time" title="Thứ 6, 11:27 25/10/2024">2 giờ trước</time>
                    </div>
                    <div class="meta-row clearfix">
                        <p class="post-summary">
                            Thuận tiện di chuyển qua - Crescente Mall - Phú Mỹ Hưng - Gần Khu Phức Hợp Lacasa - Đức Khải. NT Gồm: Máy lạnh ,Tủ Lạnh ,Tủ quần áo ,Tủ bếp
                        </p>
                    </div>
                    <div class="meta-row clearfix">
                        <div class="post-author">
                            <img src="~Content/~/Content/assets/img/default-user.png" alt="Default" /><span class="author-name">Chị Hà</span>
                        </div>
                        <a rel="nofollow" target="_blank" href="#" class="btn-quick-zalo">Nhắn Zalo</a><a rel="nofollow" target="_blank" href="tel:0928837249" class="btn-quick-call">Gọi 0974659365</a>
                    </div>
                </div>
            </li>
        </ul>
        <div class="search-filters"></div>
    </div>
</main>

